<!DOCTYPE html>

<html lang="en">

<head>

  <title>RealTime - Prompt for 2FA</title>

  <%- include('../../../includes/meta', {}); %>

  <%- include('../../../includes/headLink', {}); %>

</head>

<body class="no-template">


  <%- include('../../../includes/header', {settings, user: user}); %>


  <section id="content">
    <div class="container">
      <div class="row">
        <div class="paragraphs col-md-12">
          <div class="row">
            <div class="col-sm-6 col-md-4 paragraph-text col-md-offset-4 col-sm-offset-3">
              <h2>Enter Two-Factor Authentication Token</h2>
              <form action="/<%= settings.profileRoute %>/check-2fa" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <label for="token">Enter the token from your 2FA application:</label>
                <input type="text" id="token" name="token" required class="form-control form-control-first">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Verify</button>
              </form>
              <% if (typeof error !== 'undefined') { %>
              <p style="color: red;"><%= error %></p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <%- include('../../../includes/footer'); %>

  <!-- generic javascript -->

  <script src="/js/dist/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cycle2.min.js"></script>

  <!-- template javascript -->
  <script src="/js/superfish-e25125463e3a68f85b0683f3bc21433b.js"></script>
  <script src="/js/main-aac80d816f26db8660321cb022f841b1.js"></script>

</body>

</html>