<!DOCTYPE html>

<html lang="en">

<head>
  <title>RealTime - Evenementen</title>

  <%- include('includes/meta', {}); %>

  <%- include('includes/headLink', {}); %>

  <style>
    .content-header-background {
      background-image: url('/img/banners/9094706bfd344c3cbbbffcc6d7fe3d0a-lg.png');
    }
  </style>
</head>

<body class="template-content webpage-5437 module-profile authenticated-user">

  <%- include('includes/header', {user: user}); %>

  <section id="content">
    <div class="content-header content-header-background">
      <div class="container">
        <ol class="breadcrumb">
          <li class="active">Evenementen</li>
        </ol>
        <h2>Evenementen</h2>
      </div>
    </div>
    <div class="container">

      <div class="row">
        <div class="aside col-md-3">
          <ul id="submenu">
            <li><a href="/evenementen" title="">Evenementen</a>
              <ul>
                <li class="active"><a href="/evenementen" title="">Binnenkort</a>
                </li>
                <li><a href="/evenementen/calendar" title="">Kalender</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="paragraphs col-md-9">


          <div class="row">
            <div class="col-md-10">
              <div class="event-header">
                <h3><a href="/evenementen/thefactore-aws-cloud" title="TheFactorE AWS Cloud">TheFactorE AWS Cloud</a></h3>
                <ul class="list-unstyled list-inline text-muted small meta-list">
                  <li><span class="fa fa-calendar"></span> 28 sep. 2023 16:00 - 19:30</li>
                  <li><span class="fa fa-tag"></span> Educatief</li>
                  <li><span class="fa fa-group"></span> 11 deelnemers</li>
                  <li class="text-success meta-tag is-success">Aanmelding open</li>
                </ul>
              </div>
              <p>Ben je een op zoek naar een leuke werkgever / afstudeerstage? Heb je interesse in DevOps, cloud development of AWS? Kom dan naar het partnerevenement van TheFactorE! TheFactorE AWS Cloud Friesestraatweg 215a, 9743 AD Groningen Gratis toegang 16:00 - 19:30 Drinken en avond eten is inbegrepen (pizza) &nbsp;</p>
              <p>
                <a class="btn btn-link" href="/evenementen/thefactore-aws-cloud"><i class="fa fa-fw fa-chevron-circle-right"></i> Meer informatie</a>
              </p>
            </div>
            <div class="col-md-12">
              <hr>
            </div>

            <div class="col-md-10">
              <div class="event-header">
                <h3><a href="/evenementen/september-borrel" title="September Borrel">September Borrel</a></h3>
                <ul class="list-unstyled list-inline text-muted small meta-list">
                  <li><span class="fa fa-calendar"></span> 28 sep. 2023 20:00 - 22:00</li>
                  <li><span class="fa fa-tag"></span> Sociaal</li>
                </ul>
              </div>
              <p>Maandelijkse borrel om elkaar weer te zien en bij te praten onder het genot van wat drankjes. De borrel is in TBA en begint om 20:00 uur. TL;DR Septemberborrel Donderdag 28&nbsp;september 20:00 - 22:00 uur TBA Gratis toegang</p>
              <p>
                <a class="btn btn-link" href="/evenementen/september-borrel"><i class="fa fa-fw fa-chevron-circle-right"></i> Meer informatie</a>
              </p>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
            <div class="col-md-10">
              <div class="event-header">
                <h3><a href="/evenementen/85662-bowlen" title="Bowlen">Bowlen</a></h3>
                <ul class="list-unstyled list-inline text-muted small meta-list">
                  <li><span class="fa fa-calendar"></span> 11 okt. 2023 20:00 - 22:00</li>
                  <li><span class="fa fa-tag"></span> Sociaal</li>
                  <li><span class="fa fa-group"></span> 30 deelnemers</li>
                  <li class="text-primary meta-tag is-primary">Uitverkocht</li>
                </ul>
              </div>
              <p>Het is&nbsp;natuurlijk weer tijd voor het volgende gezelligheidsactiviteit! Op woensdag 11 Oktober vanaf 20:00 uur gaan we heerlijk relaxt bowlen! Wil jij dit ook niet missen? Meld je dan snel aan! TL;DR Bowlen Woensdag 11 oktober 20:00 - 22:00 uur Bowlingcentrum Groningen €5,- voor leden,...</p>
              <p>
                <a class="btn btn-link" href="/evenementen/85662-bowlen"><i class="fa fa-fw fa-chevron-circle-right"></i> Meer informatie</a>
              </p>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
            <div class="col-md-10">
              <div class="event-header">
                <h3><a href="/evenementen/85853-oktoberborrel" title="Oktober Borrel">Oktober Borrel</a></h3>
                <ul class="list-unstyled list-inline text-muted small meta-list">
                  <li><span class="fa fa-calendar"></span> 19 okt. 2023 20:00 - 22:00</li>
                  <li><span class="fa fa-tag"></span> Sociaal</li>
                </ul>
              </div>
              <p>Maandelijkse borrel om elkaar weer te zien en bij te praten onder het genot van wat drankjes. De borrel is in TBA en begint om 20:00 uur. TL;DR Septemberborrel Donderdag 28&nbsp;september 20:00 - 22:00 uur TBA Gratis toegang</p>
              <p>
                <a class="btn btn-link" href="/evenementen/85853-oktoberborrel"><i class="fa fa-fw fa-chevron-circle-right"></i> Meer informatie</a>
              </p>
            </div>
            <div class="col-md-12">
              <hr>
            </div>
          </div>


        </div>


        <%- include('includes/partners.ejs'); %>


      </div>


    </div>
  </section>



  <%- include('includes/footer'); %>

  <!-- generic javascript -->

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js" integrity="sha512-vO6PFSXNczuXHhdvGbOIXm67ZQlaRFjp4Wh+ARLfqPT1bVlmO1kyGrB1+7c2clk58XnsD/Cye9EJubT5B8BCgQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140216/jquery.cycle2.min.js" integrity="sha512-9pKhpjfZyETI7JvNCClrb4FN+nz9vPTvIRkIygeN5jRfMu4FQPTaePd3I2uLqOS6+hWjXJRwZHvUW+y9TUPJhw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- template javascript -->
  <script src="/js/superfish-e25125463e3a68f85b0683f3bc21433b.js"></script>
  <script src="/js/main-aac80d816f26db8660321cb022f841b1.js"></script>


  <script>
    document.addEventListener("DOMContentLoaded", function() {
      let currentPath = window.location.pathname.split("/")[1]; // get the highest level of the path
      let nav = document.querySelector(".header-nav");
      let links = nav.querySelectorAll("a");

      links.forEach(function(link) {
        if (link.getAttribute("href").split("/")[1] === currentPath) {
          link.parentElement.classList.add("path");
        }
      });
    });
  </script>




</body>

</html>