<!DOCTYPE html>
<html lang="en">

<head>

  <title>RealTime - Home</title>

  <%- include('includes/meta', {}); %>

  <%- include('includes/headLink', {}); %>

</head>

<body class="template-home webpage-5433 authenticated-user">

  <%- include('includes/header', {user: user}); %>

  <section id="content">

    <div class="carousel carousel--small slide" id="carousel-homepage" data-ride="carousel" data-interval="6000">
      <ol class="carousel-indicators">
        <li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-homepage" data-slide-to="1"></li>
        <li data-target="#carousel-homepage" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/eabf56fdf9c34a74a00343f4353a9fd8-lg.jpg" alt="Welkom bij studievereniging RealTime!" class="full">
          <div class="container carousel-container">
            <div class="carousel-caption">
              <h2>
                <i>Welkom bij studievereniging RealTime!</i>
              </h2>
              <p>
                <i>De studievereniging voor HBO-ICT</i>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/5fa207db08ca42d9b7e2f007a2f796d8-lg.jpg" alt="Lastig tentamen? Interesse in meer?" class="full">
          <div class="container carousel-container">
            <div class="carousel-caption">
              <h2>
                <i>Lastig tentamen? Interesse in meer?</i>
              </h2>
              <p>
                <i>Dat kan! Met ons &#39;Study Support&#39; helpen we jou waar nodig. Ook organiseren we workshops en lezingen.</i>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/template/333b59f13942498092b9d2823fc7972e.jpeg" alt="Word lid!" class="full">
          <div class="container carousel-container">
            <div class="carousel-caption">
              <h2>
                <i>Word lid!</i>
              </h2>
              <p>
                <i>En neem deel aan verschillende toffe evenementen!</i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-homepage" role="button" data-slide="prev">
        <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-homepage" role="button" data-slide="next">
        <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="container">
      <div class="row">
        <div class="paragraphs col-md-12">
          <div class="row">
            <div class=" col-md-4 paragraph-text paragraph-text-view">
              <p>
                <br>
              </p>
            </div>
            <div class=" col-md-8 paragraph-news paragraph-news-view">
              <h3>Nieuws</h3>
              <div class="row margin-bottom-20"></div>
              <div class="clearfix margin-bottom-10">
                <a href="/over-realtime/nieuws" title="nieuwsarchief" class="">Nieuwsarchief</a>
              </div>
            </div>
            <div class=" col-md-4 paragraph-events paragraph-events-view">
              <h3></h3>
              <dl class="dl-horizontal headlines mb-20">
                <dt class="date">
                  <a href="/evenementen/thefactore-aws-cloud" title="TheFactorE AWS Cloud">

                    <div>28</div>
                    <div>sep</div>

                  </a>
                </dt>
                <dd>
                  <a href="/evenementen/thefactore-aws-cloud" title="TheFactorE AWS Cloud">TheFactorE AWS Cloud</a>
                  <ul class="list-unstyled list-inline text-muted small">
                    <li>
                      <i class="fa fa-tag"></i>
                      Educatief
                    </li>
                    <li>
                      <i class="fa fa-map-marker"></i>
                      Friesestraatweg 215a, 9743 AD Groningen
                    </li>
                  </ul>
                </dd>
              </dl>
              <dl class="dl-horizontal headlines mb-20">
                <dt class="date">
                  <a href="/evenementen/september-borrel" title="September Borrel">

                    <div>28</div>
                    <div>sep</div>

                  </a>
                </dt>
                <dd>
                  <a href="/evenementen/september-borrel" title="September Borrel">September Borrel</a>
                  <ul class="list-unstyled list-inline text-muted small">
                    <li>
                      <i class="fa fa-tag"></i>
                      Sociaal
                    </li>
                    <li>
                      <i class="fa fa-map-marker"></i>
                      TBA
                    </li>
                  </ul>
                </dd>
              </dl>
              <dl class="dl-horizontal headlines mb-20">
                <dt class="date">
                  <a href="/evenementen/85662-bowlen" title="Bowlen">

                    <div>11</div>
                    <div>okt</div>

                  </a>
                </dt>
                <dd>
                  <a href="/evenementen/85662-bowlen" title="Bowlen">Bowlen</a>
                  <ul class="list-unstyled list-inline text-muted small">
                    <li>
                      <i class="fa fa-tag"></i>
                      Sociaal
                    </li>
                    <li>
                      <i class="fa fa-map-marker"></i>
                      Gedempte Kattendiep 4, 9711 PN Groningen
                    </li>
                  </ul>
                </dd>
              </dl>
              <dl class="dl-horizontal headlines mb-20">
                <dt class="date">
                  <a href="/evenementen/85853-oktoberborrel" title="Oktober Borrel">

                    <div>19</div>
                    <div>okt</div>

                  </a>
                </dt>
                <dd>
                  <a href="/evenementen/85853-oktoberborrel" title="Oktober Borrel">Oktober Borrel</a>
                  <ul class="list-unstyled list-inline text-muted small">
                    <li>
                      <i class="fa fa-tag"></i>
                      Sociaal
                    </li>
                    <li>
                      <i class="fa fa-map-marker"></i>
                      TBA
                    </li>
                  </ul>
                </dd>
              </dl>
              <div class="clearfix margin-bottom-10">
                <a href="/evenementen" title="meer evenementen" class="">Meer evenementen</a>
              </div>
            </div>
            <div class=" col-md-6 paragraph-text paragraph-text-view">
              <p>
                <strong>Wie zijn wij?</strong>
              </p>
              <p>
                Studievereniging&nbsp;Real
                <em>Time</em>
                &nbsp;is op 4 januari 2000 om 15:30 uur opgericht voor ICT-studenten met het doel&nbsp;
                <em>het bedrijfsleven dichter bij de studenten te brengen alsook het iets extra's aanbieden naast de studie</em>
                . De relatie met bedrijven is van oudsher goed geweest en heeft zich een echte toevoeging bewezen voor zowel de studenten als de bedrijven.
              </p>
            </div>
            <div class=" col-md-6 paragraph-text paragraph-text-view">
              <p>
                <strong>Wat doen wij?</strong>
              </p>
              <p>
                Wij organiseren veel verschillende soorten activiteiten, onderverdeeld 3 categorieën: studieactiviteiten, partneractiviteiten en gezelligheidsactiviteiten. Bij studieactiviteiten kan gedacht worden aan onder andere lezingen en workshops. Bij partneractiviteiten kan gedacht worden aan onder andere een bedrijfsbezoek of workshops. Bij gezelligheidsactiviteiten kan gedacht worden aan onder andere bowlen en lasergamen. Daarnaast organiseert studievereniging Real
                <em>Time</em>
                het introductiekamp, een kerstdiner en een buitenlandse reis.
              </p>
            </div>
          </div>
        </div>

        <%- include('includes/partners.ejs'); %>

      </div>
    </div>
  </section>

  <%- include('includes/footer'); %>

  <!-- generic javascript -->

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js" integrity="sha512-vO6PFSXNczuXHhdvGbOIXm67ZQlaRFjp4Wh+ARLfqPT1bVlmO1kyGrB1+7c2clk58XnsD/Cye9EJubT5B8BCgQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140216/jquery.cycle2.min.js" integrity="sha512-9pKhpjfZyETI7JvNCClrb4FN+nz9vPTvIRkIygeN5jRfMu4FQPTaePd3I2uLqOS6+hWjXJRwZHvUW+y9TUPJhw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- template javascript -->
  <script src="/js/superfish-e25125463e3a68f85b0683f3bc21433b.js"></script>
  <script src="/js/main-aac80d816f26db8660321cb022f841b1.js"></script>

</body>

</html>