<!DOCTYPE html>

<html lang="en">

<head>

  <title>RealTime - Login</title>

  <%- include('includes/meta', {}); %>

  <%- include('includes/headLink', {}); %>

</head>

<body class="no-template">


  <%- include('includes/header', {settings, user: user}); %>


  <section id="content">
    <div class="container">
      <div class="row">
        <div class="paragraphs col-md-12">
          <div class="row">
            <div class=" col-sm-6 col-md-4 paragraph-text col-md-offset-4 col-sm-offset-3">
              <form action='/login?next=<%= next ?? '' %>' method='post'>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <h3>Inloggen</h3>
                <input autofocus="autofocus" class="form-control form-control-first" id="email" name="email" placeholder="E-mailadres" type="email" value="">
                <input class="form-control form-control-last" id="password" name="pw" placeholder="Wachtwoord" required type="password" value="">

                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

                <div class="checkbox">
                  <label class="checkbox margin-top-20 margin-bottom-20">
                    <input checked id="remember_me" name="remember_me" type="checkbox" value="y">
                    blijf ingelogd

                  </label>
                </div>

                <hr>
                <h4>Je wachtwoord vergeten?</h4>
                <p>
                  <a href="/password/forgot">Klik hier</a>
                  om je wachtwoord te resetten.
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <%- include('includes/footer'); %>

  <!-- generic javascript -->

  <script src="/js/dist/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cycle2.min.js"></script>

  <!-- template javascript -->
  <script src="/js/superfish-e25125463e3a68f85b0683f3bc21433b.js"></script>
  <script src="/js/main-aac80d816f26db8660321cb022f841b1.js"></script>

</body>

</html>