<html lang="nl">

<head>
  <meta charset="UTF-8">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Studievereniging RealTime">
  <meta name="generator" content="Congressus - Makkelijk, meer vereniging">
  <meta name="description" content="De studievereniging voor de ICT-geïnteresseerde student aan de Hanzehogeschool Groningen. Ook dat is RealTime!">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&amp;display=swap" rel="stylesheet">



  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/template-7df046db85c1b569cc1ecfc854d1c691.css" rel="stylesheet">

  <style>
    :root {
      --color-primary: 229 0 69;
      --color-secondary: 0 0 0;
    }
  </style>
  <title>RealTime · Bowlen</title>

  <style>
    .hidden {
      display: none;
    }


    .flatpickr-calendar {
      -webkit-animation: none;
      animation: none;
      background: transparent;
      background: #fff;
      border: 0;
      border-radius: 5px;
      -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, .08);
      box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, .08);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      direction: ltr;
      display: none;
      font-size: 14px;
      line-height: 24px;
      opacity: 0;
      padding: 0;
      position: absolute;
      text-align: center;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      visibility: hidden;
      width: 307.875px
    }

    .flatpickr-calendar.inline,
    .flatpickr-calendar.open {
      max-height: 640px;
      opacity: 1;
      visibility: visible
    }

    .flatpickr-calendar.open {
      display: inline-block;
      z-index: 99999
    }

    .flatpickr-calendar.animate.open {
      -webkit-animation: fpFadeInDown .3s cubic-bezier(.23, 1, .32, 1);
      animation: fpFadeInDown .3s cubic-bezier(.23, 1, .32, 1)
    }

    .flatpickr-calendar.inline {
      display: block;
      position: relative;
      top: 2px
    }

    .flatpickr-calendar.static {
      position: absolute;
      top: calc(100% + 2px)
    }

    .flatpickr-calendar.static.open {
      display: block;
      z-index: 999
    }

    .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
      -webkit-box-shadow: none !important;
      box-shadow: none !important
    }

    .flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
      -webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
      box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6
    }

    .flatpickr-calendar .hasTime .dayContainer,
    .flatpickr-calendar .hasWeeks .dayContainer {
      border-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0
    }

    .flatpickr-calendar .hasWeeks .dayContainer {
      border-left: 0
    }

    .flatpickr-calendar.hasTime .flatpickr-time {
      border-top: 1px solid #e6e6e6;
      height: 40px
    }

    .flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
      height: auto
    }

    .flatpickr-calendar:after,
    .flatpickr-calendar:before {
      border: solid transparent;
      content: "";
      display: block;
      height: 0;
      left: 22px;
      pointer-events: none;
      position: absolute;
      width: 0
    }

    .flatpickr-calendar.arrowRight:after,
    .flatpickr-calendar.arrowRight:before,
    .flatpickr-calendar.rightMost:after,
    .flatpickr-calendar.rightMost:before {
      left: auto;
      right: 22px
    }

    .flatpickr-calendar.arrowCenter:after,
    .flatpickr-calendar.arrowCenter:before {
      left: 50%;
      right: 50%
    }

    .flatpickr-calendar:before {
      border-width: 5px;
      margin: 0 -5px
    }

    .flatpickr-calendar:after {
      border-width: 4px;
      margin: 0 -4px
    }

    .flatpickr-calendar.arrowTop:after,
    .flatpickr-calendar.arrowTop:before {
      bottom: 100%
    }

    .flatpickr-calendar.arrowTop:before {
      border-bottom-color: #e6e6e6
    }

    .flatpickr-calendar.arrowTop:after {
      border-bottom-color: #fff
    }

    .flatpickr-calendar.arrowBottom:after,
    .flatpickr-calendar.arrowBottom:before {
      top: 100%
    }

    .flatpickr-calendar.arrowBottom:before {
      border-top-color: #e6e6e6
    }

    .flatpickr-calendar.arrowBottom:after {
      border-top-color: #fff
    }

    .flatpickr-calendar:focus {
      outline: 0
    }

    .flatpickr-wrapper {
      display: inline-block;
      position: relative
    }

    .flatpickr-months {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex
    }

    .flatpickr-months .flatpickr-month {
      -webkit-box-flex: 1;
      background: transparent;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      line-height: 1;
      overflow: hidden;
      position: relative;
      text-align: center
    }

    .flatpickr-months .flatpickr-month,
    .flatpickr-months .flatpickr-next-month,
    .flatpickr-months .flatpickr-prev-month {
      fill: rgba(0, 0, 0, .9);
      color: rgba(0, 0, 0, .9);
      height: 34px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none
    }

    .flatpickr-months .flatpickr-next-month,
    .flatpickr-months .flatpickr-prev-month {
      cursor: pointer;
      padding: 10px;
      position: absolute;
      text-decoration: none;
      top: 0;
      z-index: 3
    }

    .flatpickr-months .flatpickr-next-month.flatpickr-disabled,
    .flatpickr-months .flatpickr-prev-month.flatpickr-disabled {
      display: none
    }

    .flatpickr-months .flatpickr-next-month i,
    .flatpickr-months .flatpickr-prev-month i {
      position: relative
    }

    .flatpickr-months .flatpickr-next-month.flatpickr-prev-month,
    .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
      left: 0
    }

    .flatpickr-months .flatpickr-next-month.flatpickr-next-month,
    .flatpickr-months .flatpickr-prev-month.flatpickr-next-month {
      right: 0
    }

    .flatpickr-months .flatpickr-next-month:hover,
    .flatpickr-months .flatpickr-prev-month:hover {
      color: #959ea9
    }

    .flatpickr-months .flatpickr-next-month:hover svg,
    .flatpickr-months .flatpickr-prev-month:hover svg {
      fill: #f64747
    }

    .flatpickr-months .flatpickr-next-month svg,
    .flatpickr-months .flatpickr-prev-month svg {
      height: 14px;
      width: 14px
    }

    .flatpickr-months .flatpickr-next-month svg path,
    .flatpickr-months .flatpickr-prev-month svg path {
      fill: inherit;
      -webkit-transition: fill .1s;
      transition: fill .1s
    }

    .numInputWrapper {
      height: auto;
      position: relative
    }

    .numInputWrapper input,
    .numInputWrapper span {
      display: inline-block
    }

    .numInputWrapper input {
      width: 100%
    }

    .numInputWrapper input::-ms-clear {
      display: none
    }

    .numInputWrapper input::-webkit-inner-spin-button,
    .numInputWrapper input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0
    }

    .numInputWrapper span {
      border: 1px solid rgba(57, 57, 57, .15);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      height: 50%;
      line-height: 50%;
      opacity: 0;
      padding: 0 4px 0 2px;
      position: absolute;
      right: 0;
      width: 14px
    }

    .numInputWrapper span:hover {
      background: rgba(0, 0, 0, .1)
    }

    .numInputWrapper span:active {
      background: rgba(0, 0, 0, .2)
    }

    .numInputWrapper span:after {
      content: "";
      display: block;
      position: absolute
    }

    .numInputWrapper span.arrowUp {
      border-bottom: 0;
      top: 0
    }

    .numInputWrapper span.arrowUp:after {
      border-bottom: 4px solid rgba(57, 57, 57, .6);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      top: 26%
    }

    .numInputWrapper span.arrowDown {
      top: 50%
    }

    .numInputWrapper span.arrowDown:after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid rgba(57, 57, 57, .6);
      top: 40%
    }

    .numInputWrapper span svg {
      height: auto;
      width: inherit
    }

    .numInputWrapper span svg path {
      fill: rgba(0, 0, 0, .5)
    }

    .numInputWrapper:hover {
      background: rgba(0, 0, 0, .05)
    }

    .numInputWrapper:hover span {
      opacity: 1
    }

    .flatpickr-current-month {
      color: inherit;
      display: inline-block;
      font-size: 135%;
      font-weight: 300;
      height: 34px;
      left: 12.5%;
      line-height: inherit;
      line-height: 1;
      padding: 7.48px 0 0;
      position: absolute;
      text-align: center;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      width: 75%
    }

    .flatpickr-current-month span.cur-month {
      color: inherit;
      display: inline-block;
      font-family: inherit;
      font-weight: 700;
      margin-left: .5ch;
      padding: 0
    }

    .flatpickr-current-month span.cur-month:hover {
      background: rgba(0, 0, 0, .05)
    }

    .flatpickr-current-month .numInputWrapper {
      display: inline-block;
      width: 6ch;
      width: 7ch\0
    }

    .flatpickr-current-month .numInputWrapper span.arrowUp:after {
      border-bottom-color: rgba(0, 0, 0, .9)
    }

    .flatpickr-current-month .numInputWrapper span.arrowDown:after {
      border-top-color: rgba(0, 0, 0, .9)
    }

    .flatpickr-current-month input.cur-year {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      background: transparent;
      border: 0;
      border-radius: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: inherit;
      cursor: text;
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      font-weight: 300;
      height: auto;
      line-height: inherit;
      margin: 0;
      padding: 0 0 0 .5ch;
      vertical-align: initial
    }

    .flatpickr-current-month input.cur-year:focus {
      outline: 0
    }

    .flatpickr-current-month input.cur-year[disabled],
    .flatpickr-current-month input.cur-year[disabled]:hover {
      background: transparent;
      color: rgba(0, 0, 0, .5);
      font-size: 100%;
      pointer-events: none
    }

    .flatpickr-current-month .flatpickr-monthDropdown-months {
      appearance: menulist;
      -webkit-appearance: menulist;
      -moz-appearance: menulist;
      background: transparent;
      border: none;
      border-radius: 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: inherit;
      cursor: pointer;
      font-family: inherit;
      font-size: inherit;
      font-weight: 300;
      height: auto;
      line-height: inherit;
      margin: -1px 0 0;
      outline: none;
      padding: 0 0 0 .5ch;
      position: relative;
      vertical-align: initial;
      width: auto
    }

    .flatpickr-current-month .flatpickr-monthDropdown-months:active,
    .flatpickr-current-month .flatpickr-monthDropdown-months:focus {
      outline: none
    }

    .flatpickr-current-month .flatpickr-monthDropdown-months:hover {
      background: rgba(0, 0, 0, .05)
    }

    .flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
      background-color: transparent;
      outline: none;
      padding: 0
    }

    .flatpickr-weekdays {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      background: transparent;
      height: 28px;
      overflow: hidden;
      text-align: center;
      width: 100%
    }

    .flatpickr-weekdays,
    .flatpickr-weekdays .flatpickr-weekdaycontainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex
    }

    .flatpickr-weekdays .flatpickr-weekdaycontainer,
    span.flatpickr-weekday {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1
    }

    span.flatpickr-weekday {
      background: transparent;
      color: rgba(0, 0, 0, .54);
      cursor: default;
      display: block;
      font-size: 90%;
      font-weight: bolder;
      line-height: 1;
      margin: 0;
      text-align: center
    }

    .dayContainer,
    .flatpickr-weeks {
      padding: 1px 0 0
    }

    .flatpickr-days {
      -webkit-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      position: relative;
      width: 307.875px
    }

    .flatpickr-days:focus {
      outline: 0
    }

    .dayContainer {
      -ms-flex-pack: justify;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      max-width: 307.875px;
      min-width: 307.875px;
      opacity: 1;
      outline: 0;
      padding: 0;
      text-align: left;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      width: 307.875px
    }

    .dayContainer+.dayContainer {
      -webkit-box-shadow: -1px 0 0 #e6e6e6;
      box-shadow: -1px 0 0 #e6e6e6
    }

    .flatpickr-day {
      -ms-flex-preferred-size: 14.2857143%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      background: none;
      border: 1px solid transparent;
      border-radius: 150px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #393939;
      cursor: pointer;
      display: inline-block;
      -webkit-flex-basis: 14.2857143%;
      flex-basis: 14.2857143%;
      font-weight: 400;
      height: 39px;
      -webkit-justify-content: center;
      justify-content: center;
      line-height: 39px;
      margin: 0;
      max-width: 39px;
      position: relative;
      text-align: center;
      width: 14.2857143%
    }

    .flatpickr-day.inRange,
    .flatpickr-day.nextMonthDay.inRange,
    .flatpickr-day.nextMonthDay.today.inRange,
    .flatpickr-day.nextMonthDay:focus,
    .flatpickr-day.nextMonthDay:hover,
    .flatpickr-day.prevMonthDay.inRange,
    .flatpickr-day.prevMonthDay.today.inRange,
    .flatpickr-day.prevMonthDay:focus,
    .flatpickr-day.prevMonthDay:hover,
    .flatpickr-day.today.inRange,
    .flatpickr-day:focus,
    .flatpickr-day:hover {
      background: #e6e6e6;
      border-color: #e6e6e6;
      cursor: pointer;
      outline: 0
    }

    .flatpickr-day.today {
      border-color: #959ea9
    }

    .flatpickr-day.today:focus,
    .flatpickr-day.today:hover {
      background: #959ea9;
      border-color: #959ea9;
      color: #fff
    }

    .flatpickr-day.endRange,
    .flatpickr-day.endRange.inRange,
    .flatpickr-day.endRange.nextMonthDay,
    .flatpickr-day.endRange.prevMonthDay,
    .flatpickr-day.endRange:focus,
    .flatpickr-day.endRange:hover,
    .flatpickr-day.selected,
    .flatpickr-day.selected.inRange,
    .flatpickr-day.selected.nextMonthDay,
    .flatpickr-day.selected.prevMonthDay,
    .flatpickr-day.selected:focus,
    .flatpickr-day.selected:hover,
    .flatpickr-day.startRange,
    .flatpickr-day.startRange.inRange,
    .flatpickr-day.startRange.nextMonthDay,
    .flatpickr-day.startRange.prevMonthDay,
    .flatpickr-day.startRange:focus,
    .flatpickr-day.startRange:hover {
      background: #569ff7;
      border-color: #569ff7;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #fff
    }

    .flatpickr-day.endRange.startRange,
    .flatpickr-day.selected.startRange,
    .flatpickr-day.startRange.startRange {
      border-radius: 50px 0 0 50px
    }

    .flatpickr-day.endRange.endRange,
    .flatpickr-day.selected.endRange,
    .flatpickr-day.startRange.endRange {
      border-radius: 0 50px 50px 0
    }

    .flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)),
    .flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),
    .flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)) {
      -webkit-box-shadow: -10px 0 0 #569ff7;
      box-shadow: -10px 0 0 #569ff7
    }

    .flatpickr-day.endRange.startRange.endRange,
    .flatpickr-day.selected.startRange.endRange,
    .flatpickr-day.startRange.startRange.endRange {
      border-radius: 50px
    }

    .flatpickr-day.inRange {
      border-radius: 0;
      -webkit-box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
      box-shadow: -5px 0 0 #e6e6e6, 5px 0 0 #e6e6e6
    }

    .flatpickr-day.flatpickr-disabled,
    .flatpickr-day.flatpickr-disabled:hover,
    .flatpickr-day.nextMonthDay,
    .flatpickr-day.notAllowed,
    .flatpickr-day.notAllowed.nextMonthDay,
    .flatpickr-day.notAllowed.prevMonthDay,
    .flatpickr-day.prevMonthDay {
      background: transparent;
      border-color: transparent;
      color: rgba(57, 57, 57, .3);
      cursor: default
    }

    .flatpickr-day.flatpickr-disabled,
    .flatpickr-day.flatpickr-disabled:hover {
      color: rgba(57, 57, 57, .1);
      cursor: not-allowed
    }

    .flatpickr-day.week.selected {
      border-radius: 0;
      -webkit-box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7;
      box-shadow: -5px 0 0 #569ff7, 5px 0 0 #569ff7
    }

    .flatpickr-day.hidden {
      visibility: hidden
    }

    .rangeMode .flatpickr-day {
      margin-top: 1px
    }

    .flatpickr-weekwrapper {
      float: left
    }

    .flatpickr-weekwrapper .flatpickr-weeks {
      -webkit-box-shadow: 1px 0 0 #e6e6e6;
      box-shadow: 1px 0 0 #e6e6e6;
      padding: 0 12px
    }

    .flatpickr-weekwrapper .flatpickr-weekday {
      float: none;
      line-height: 28px;
      width: 100%
    }

    .flatpickr-weekwrapper span.flatpickr-day,
    .flatpickr-weekwrapper span.flatpickr-day:hover {
      background: transparent;
      border: none;
      color: rgba(57, 57, 57, .3);
      cursor: default;
      display: block;
      max-width: none;
      width: 100%
    }

    .flatpickr-innerContainer {
      display: block;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden
    }

    .flatpickr-innerContainer,
    .flatpickr-rContainer {
      -webkit-box-sizing: border-box;
      box-sizing: border-box
    }

    .flatpickr-rContainer {
      display: inline-block;
      padding: 0
    }

    .flatpickr-time {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 0;
      line-height: 40px;
      max-height: 40px;
      outline: 0;
      overflow: hidden;
      text-align: center
    }

    .flatpickr-time:after {
      clear: both;
      content: "";
      display: table
    }

    .flatpickr-time .numInputWrapper {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      float: left;
      height: 40px;
      width: 40%
    }

    .flatpickr-time .numInputWrapper span.arrowUp:after {
      border-bottom-color: #393939
    }

    .flatpickr-time .numInputWrapper span.arrowDown:after {
      border-top-color: #393939
    }

    .flatpickr-time.hasSeconds .numInputWrapper {
      width: 26%
    }

    .flatpickr-time.time24hr .numInputWrapper {
      width: 49%
    }

    .flatpickr-time input {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
      background: transparent;
      border: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #393939;
      font-size: 14px;
      height: inherit;
      line-height: inherit;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center
    }

    .flatpickr-time input.flatpickr-hour {
      font-weight: 700
    }

    .flatpickr-time input.flatpickr-minute,
    .flatpickr-time input.flatpickr-second {
      font-weight: 400
    }

    .flatpickr-time input:focus {
      border: 0;
      outline: 0
    }

    .flatpickr-time .flatpickr-am-pm,
    .flatpickr-time .flatpickr-time-separator {
      -ms-flex-item-align: center;
      -webkit-align-self: center;
      align-self: center;
      color: #393939;
      float: left;
      font-weight: 700;
      height: inherit;
      line-height: inherit;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 2%
    }

    .flatpickr-time .flatpickr-am-pm {
      cursor: pointer;
      font-weight: 400;
      outline: 0;
      text-align: center;
      width: 18%
    }

    .flatpickr-time .flatpickr-am-pm:focus,
    .flatpickr-time .flatpickr-am-pm:hover,
    .flatpickr-time input:focus,
    .flatpickr-time input:hover {
      background: #eee
    }

    .flatpickr-input[readonly] {
      cursor: pointer
    }

    @-webkit-keyframes fpFadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
      }

      to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
      }
    }

    @keyframes fpFadeInDown {
      0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
      }

      to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
      }
    }
  </style>
</head>

<body class="bg-white text-base">




  <header class="sticky top-0 z-50">
    <div class="bg-white border-b border-gray-200 text-sm font-medium text-gray-700">
      <div class="container mx-auto px-4 sm:px-6 lg:max-w-7xl h-16 lg:h-20">
        <div class="flex items-center justify-center lg:justify-start relative h-full">
          <a href="/" class="absolute left-0 top-1/2 h-16 flex">
            <span class="visually-hidden">RealTime</span>

            <div class="max-h-10 lg:max-h-12 w-36 sm:w-28 lg:w-36">
              <img src="/img/logo/logo-sv-realtime-sm.png" alt="RealTime" class="object-contain object-left max-h-10 lg:max-h-12 w-36 sm:w-28 md:w-36">
            </div>

          </a>


          <nav aria-label="Progress" class="hidden md:block">
            <ol role="list" class="flex space-x-4 h-16 lg:h-20">





              <li class="flex items-center">

                <a href="/evenementen/85662-bowlen/sign-up/invoice" class="transition hover:text-gray-900">Facturatie</a>


                <svg class="w-5 h-5 text-gray-300 ml-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
              </li>



              <li class="flex items-center">

                <a href="#" aria-current="page" class="text-primary">Bevestiging &amp; betaling</a>

              </li>

            </ol>
          </nav>
          <p class="md:hidden flex items-center h-16 lg:h-20">Stap 2 van 2</p>

        </div>
      </div>
    </div>
  </header>


  <main>
    <div class="max-w-2xl mx-auto lg:max-w-7xl">


      <div class="max-w-2xl mx-auto py-16 px-4 sm:px-6 lg:max-w-7xl lg:px-8" x-data="event_information">
        <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          <div x-show="$store.payment_method != 'external_ideal'" style="display: none;">

            Bevestig bestelling

          </div>
          <div x-show="$store.payment_method == 'external_ideal'">

            Bevestig &amp; betaal bestelling

          </div>
        </h1>
        <h2 class="flex items-baseline flex-col sm:space-x-2 sm:flex-row text-xl font-normal text-gray-500">
          <div>Bowlen</div>

        </h2>

        <form class="mt-12 lg:grid lg:grid-cols-12 lg:gap-x-12 lg:items-start xl:gap-x-16" method="post">
          <!-- <input id="csrf_token" name="csrf_token" type="hidden" value="IjQ1Mjg5YmFkMDg0OTdhZTU2YmQzYjc5OTMyMDczYjNkYWFkMzlmZTAi.ZRqDAA.JojRP5IpZBq-KjaGG1OJbxPi6Xs"> -->

          <section aria-labelledby="cart-options" class="lg:col-span-7">
            <h2 id="cart-options" class="sr-only">Check and confirm your order</h2>





            <div class="border-t border-b border-gray-200 divide-y divide-gray-200">
              <div class="py-6 lg:py-8">
                <div>
                  <div class="text-lg font-medium text-gray-900">Bowlen</div>
                  <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-2 text-sm text-gray-500">
                    <span>11 okt. 2023 20:00 - 22:00</span>

                    <span class="hidden sm:inline-block">·</span>
                    <span class="flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 text-gray-400 mr-1" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
                      </svg>
                      Gedempte Kattendiep 4, 9711 PN Groningen
                    </span>

                  </div>


                  <div class="prose prose-sm mt-4 text-gray-700 line-clamp-3 max-h-24" id="textContent">
                    <p>Het is natuurlijk weer tijd voor het volgende gezelligheidsactiviteit! Op woensdag 11 Oktober vanaf 20:00 uur gaan we heerlijk relaxt bowlen!</p>
                    <p>Wil jij dit ook niet missen? Meld je dan snel aan!</p>
                    <p>TL;DR<br>
                      Bowlen<br>
                      Woensdag 11 oktober<br>
                      20:00 - 22:00 uur<br>
                      Bowlingcentrum Groningen<br>
                      €5,- voor leden, €23,50 voor niet-leden<br>
                      2 uur bowlen inclusief borrelhapjes</p>
                  </div>
                  <div class="mt-2">
                    <a href="#" id="toggleButton" class="text-sm text-primary/85 transition hover:underline hover:text-primary">toon meer</a>
                  </div>

                </div>
              </div>

              <div class="py-6 lg:py-8">
                <div class="flex items-start justify-between">
                  <div>


                    <div class="text-lg font-medium text-gray-900">Je aanmelding</div>
                    <div class="text-sm text-gray-500">

                      We sturen een bevestiging naar je e-mailadres

                    </div>



                  </div>

                </div>

                <!-- START -->




                <ul class="grid grid-cols-1 gap-2 mt-4 text-sm">
                  <li class="col-span-1 p-4 border border-gray-200 rounded-lg bg-gray-50">
                    <div class="font-semibold text-gray-700">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <select name="memberTicket" id="memberTicket" class="form-control custom-select">
                                <% if (hasTicket) { %>
                                <option value="0" selected>0x</option>
                                <% } else {%>
                                <option value="1" selected>1x</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6 d-flex align-items-center ">
                            <div class="form-group">
                              <span>Bowlen - Lid</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </li>

                  <!-- Add more list items like the one above to create additional rows/columns -->

                </ul>





                <ul class="grid grid-cols-1 gap-2 mt-4 text-sm">
                  <li class="col-span-1 p-4 border border-gray-200 rounded-lg bg-gray-50">
                    <div class="font-semibold text-gray-700">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <select name="guestTickets" id="guestTickets" class="form-control custom-select">
                                <% for (let i = 0; i <= 10; i++) { %>
                                <option value="<%= i %>"><%= i %>x</option>
                                <% } %>
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6 d-flex align-items-center ">
                            <div class="form-group">
                              <span>Bowlen - niet Lid</span>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </li>
                </ul>

                <div id="guestNames"></div>




                <!-- END -->
              </div>


              <div id="readOnlyView" class="py-6 lg:py-8">
                <!-- ... existing content ... -->

                <div class="flex items-start justify-between">
                  <div>
                    <div class="text-lg font-medium text-gray-900">Factuuradres</div>
                    <div class="text-sm text-gray-500">We gebruiken dit adres voor de factuur.</div>
                  </div>
                  <div>
                    <a href="#" id="editLink" class="text-sm text-primary/85 transition hover:underline hover:text-primary">wijzig</a>
                  </div>
                </div>


                <div class="text-sm space-y-1 mt-4">
                  <div class="font-semibold text-gray-700">Ruben Daniël Talstra<span class="font-normal text-gray-500"> · r.d.talstra@st.hanze.nl</span></div>

                  <div class="text-gray-600">Het Blauwgras 23<br>9203 HJ Drachten<br>Nederland</div>
                </div>


              </div>

              <!-- Editable Form (Initially Hidden) -->
              <div id="editForm" class="py-6 lg:py-8 hidden">
                <!-- ...form fields... -->
                <a href="#" id="cancelLink" class="text-sm text-primary/85 transition hover:underline hover:text-primary">cancel</a>
                <button type="submit" id="saveButton">Save</button>
              </div>





            </div>


            <div class="py-6 lg:py-8">
              <div class="text-lg font-medium text-gray-900">Kies je betaalwijze</div>

              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4 text-sm" x-data="{...radioGroup(), selected: 'external_ideal'}" x-init="$watch('selected', value => $store.payment_method = value)">

                <label class="relative col-span-1 p-4 border rounded-lg cursor-pointer transition hover:border-gray-300 hover:shadow-sm focus:outline-none focus:border-primary/15">
                  <input value="external_ideal" class="sr-only peer" type="radio" name="payment_method" x-model="selected">
                  <div>
                    <div class="font-semibold text-gray-700">iDeal</div>
                    <div class="text-gray-500 pt-2">

                      Je betaalt je bestelling via iDeal
                      <div class="absolute top-0 right-0 mt-4 mr-4">
                        <img class="object-contain h-6 sm:h-6" src="https://cdn.cngrsss.nl/static/_templates/_base/checkout/images/payment_methods/ideal-logo-b7c06b374b4af4a21ac7f2f94ecc8cbe.svg" alt="iDeal">
                      </div>

                    </div>
                  </div>
                  <div class="absolute -inset-px rounded-lg border-2 pointer-events-none peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-offset-2 peer-focus:ring-offset-gray-50 peer-focus:ring-gray-200 border-primary/85 shadow-sm" :class="isSelected('external_ideal') ? 'border-primary/85 shadow-sm' : 'border-transparent'" aria-hidden="true"></div>
                </label>

              </div>
            </div>


          </section>

          <!-- Order summary -->
          <section aria-labelledby="summary-heading" class="mt-16 bg-gray-50 rounded-lg px-4 py-6 sm:sticky sm:top-28 sm:p-6 lg:p-8 lg:mt-0 lg:col-span-5">
            <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Bestellingsoverzicht</h2>
            <div id="summary-list" class="mt-6 space-y-4">


              <!-- Maybe later -->
              <% //for (let i = 0; i < tickets.length; i++) { %>
              <!-- <div class="flex items-center justify-between<%= //i === tickets.length - 1 ? ' pb-4 border-b border-gray-200' : '' %>">
                  <dt class="text-sm text-gray-600">
                    <span id="<%= //tickets[i].TicketID %>-Count">0x</span>
                    <span><%= //tickets[i].TicketName %></span>
                  </dt>
                  <dd class="text-sm font-medium text-gray-900" id="<%= //tickets[i].TicketID %>-Price">€ <%= //tickets[i].Price %></dd>
                </div> -->
              <% //} %>




              <div class="flex items-center justify-between ">
                <dt class="text-sm text-gray-600">
                  <span id="memberTicketCount">0x</span>
                  <span>Bowlen - Lid</span>
                </dt>
                <dd class="text-sm font-medium text-gray-900" id="memberTicketPrice">€ 5,00</dd>
              </div>

              <!-- Non-Member Ticket Section -->
              <div class="flex items-center justify-between pb-4 border-b border-gray-200">
                <dt class="text-sm text-gray-600">
                  <span id="guestTicketCount">0x</span>
                  <span>Bowlen - Niet Lid</span>
                </dt>
                <dd class="text-sm font-medium text-gray-900" id="guestTicketPrice">€ 20,00</dd>
              </div>





              <div class="flex items-center justify-between">
                <dt class="text-base font-medium text-gray-900">Totaal</dt>
                <dd class="text-base font-medium text-gray-900" id="totalPrice">€ 0,00</dd>
              </div>
            </div>

            <div class="mt-6 fixed inset-x-0 lg:static bottom-0 p-4 border-t border-gray-200 lg:p-0 lg:border-t-0 z-20 bg-gray-50">
              <div class="max-w-2xl mx-auto lg:max-w-none lg:mx-0 px-0 sm:px-2 md:px-6 lg:px-0">
                <button type="submit" x-bind="button" x-ref="button" class="w-full bg-primary/85 border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white transition hover:bg-primary transition focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-primary/85 disabled:bg-primary/85 disabled:opacity-50">
                  <div x-show="$store.payment_method != 'external_ideal'" style="display: none;">

                    Bevestig bestelling

                  </div>
                  <div x-show="$store.payment_method == 'external_ideal'">

                    Bevestig &amp; betaal bestelling

                  </div>
                </button>


                <div class="text-gray-500 text-xs italic mt-1">

                  bestelling met betalingsverplichting

                </div>

              </div>
            </div>
          </section>
        </form>
      </div>

    </div>
  </main>

  <footer>



  </footer>

  <section id="copyright">


    <div class="">

      <div class="max-full mx-auto mb-24 lg:mb-0 py-4 lg:py-8 px-4 lg:px-6 lg:max-w-7xl">
        <div class="flex flex-wrap justify-between items-center space-y-4 sm:space-y-0">
          <div class="flex space-x-4 xl:space-x-8 text-xs sm:text-sm text-gray-400 pr-4">
            <div>© 2016 -
              2023 RealTime</div>
            <a href="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/user/e35c4ef7498a46e9b7a4453985909f2b.pdf" target="_blank" class="transition hover:underline hover:text-gray-500">Privacybeleid</a>
            <a href="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/user/abb61e90a86042aa91c5e5bdba81b01d.pdf" target="_blank" class="transition hover:underline hover:text-gray-500">Cookieverklaring</a>
          </div>

          <div class="w-28 sm:w-24">
            <a href="https://www.congressus.nl" target="_blank" title="Mogelijk gemaakt door Congressus. Makkelijk, meer vereniging." class="object-contain text-gray-400 transition hover:text-gray-500">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490 100" fill="currentColor" aria-hidden="true">
                <g fill-rule="evenodd">
                  <path d="M134.6108 40.3457C133.2888 40.3457 132.0548 40.5747 130.9118 41.0307 129.7668 41.4867 128.7628 42.1597 127.8988 43.0467 127.0328 43.9347 126.3458 45.0377 125.8398 46.3557 125.3308 47.6757 125.0758 49.1707 125.0758 50.8447 125.0758 52.5177 125.3308 54.0137 125.8398 55.3317 126.3458 56.6517 127.0468 57.7667 127.9368 58.6797 128.8258 59.5927 129.8428 60.2767 130.9878 60.7337 132.1318 61.1897 133.3648 61.4177 134.6868 61.4177 135.9588 61.4177 137.0898 61.2277 138.0818 60.8477 139.0738 60.4677 139.9248 59.9727 140.6368 59.3637 141.3488 58.7557 141.9218 58.0717 142.3528 57.3107 142.7858 56.5497 143.1038 55.8147 143.3068 55.1037L152.2318 58.0717C151.8248 59.6427 151.1508 61.1787 150.2118 62.6737 149.2688 64.1697 148.0618 65.5147 146.5878 66.7057 145.1118 67.8977 143.3828 68.8617 141.3998 69.5957 139.4168 70.3307 137.1778 70.6997 134.6868 70.6997 131.9418 70.6997 129.3598 70.2047 126.9448 69.2157 124.5288 68.2267 122.4308 66.8457 120.6518 65.0697 118.8708 63.2957 117.4718 61.2037 116.4568 58.7937 115.4378 56.3857 114.9308 53.7347 114.9308 50.8447 114.9308 47.9527 115.4258 45.2907 116.4178 42.8567 117.4098 40.4227 118.7828 38.3297 120.5378 36.5807 122.2918 34.8297 124.3508 33.4607 126.7158 32.4717 129.0808 31.4837 131.6358 30.9887 134.3818 30.9887 136.9238 30.9887 139.1998 31.3577 141.2098 32.0917 143.2168 32.8277 144.9598 33.7787 146.4348 34.9447 147.9098 36.1117 149.1048 37.4547 150.0198 38.9767 150.9348 40.4977 151.5958 42.0457 152.0038 43.6167L142.9248 46.6597C142.4678 45.0887 141.5898 43.6437 140.2948 42.3247 138.9978 41.0057 137.1018 40.3457 134.6108 40.3457M175.4224 61.4947C176.6424 61.4947 177.8364 61.2657 179.0074 60.8097 180.1764 60.3537 181.1934 59.6827 182.0594 58.7937 182.9224 57.9077 183.6224 56.8037 184.1564 55.4847 184.6904 54.1667 184.9574 52.6197 184.9574 50.8447 184.9574 49.0697 184.6904 47.5227 184.1564 46.2037 183.6224 44.8857 182.9224 43.7827 182.0594 42.8947 181.1934 42.0077 180.1764 41.3347 179.0074 40.8787 177.8364 40.4227 176.6424 40.1937 175.4224 40.1937 174.2004 40.1937 173.0064 40.4227 171.8364 40.8787 170.6664 41.3347 169.6504 42.0077 168.7854 42.8947 167.9194 43.7827 167.2224 44.8857 166.6884 46.2037 166.1534 47.5227 165.8874 49.0697 165.8874 50.8447 165.8874 52.6197 166.1534 54.1667 166.6884 55.4847 167.2224 56.8037 167.9194 57.9077 168.7854 58.7937 169.6504 59.6827 170.6664 60.3537 171.8364 60.8097 173.0064 61.2657 174.2004 61.4947 175.4224 61.4947M175.4224 30.9887C178.2174 30.9887 180.8244 31.4837 183.2404 32.4727 185.6544 33.4607 187.7404 34.8297 189.4954 36.5807 191.2504 38.3297 192.6234 40.4227 193.6144 42.8567 194.6064 45.2907 195.1024 47.9527 195.1024 50.8447 195.1024 53.7347 194.6064 56.3857 193.6144 58.7937 192.6234 61.2037 191.2504 63.2957 189.4954 65.0697 187.7404 66.8457 185.6544 68.2267 183.2404 69.2157 180.8244 70.2047 178.2174 70.6997 175.4224 70.6997 172.6244 70.6997 170.0174 70.2047 167.6034 69.2157 165.1874 68.2267 163.1024 66.8457 161.3484 65.0697 159.5934 63.2957 158.2204 61.2037 157.2284 58.7937 156.2364 56.3857 155.7414 53.7347 155.7414 50.8447 155.7414 47.9527 156.2364 45.2907 157.2284 42.8567 158.2204 40.4227 159.5934 38.3297 161.3484 36.5807 163.1024 34.8297 165.1874 33.4607 167.6034 32.4727 170.0174 31.4837 172.6244 30.9887 175.4224 30.9887M210.2065 69.5582L200.0605 69.5582 200.0605 32.1302 209.9015 32.1302 209.9015 36.7712C211.0705 34.8442 212.6585 33.4232 214.6695 32.5102 216.6775 31.5972 218.6985 31.1412 220.7335 31.1412 223.0715 31.1412 225.0935 31.5352 226.7985 32.3202 228.5015 33.1072 229.9115 34.1592 231.0315 35.4772 232.1495 36.7972 232.9775 38.3682 233.5105 40.1942 234.0445 42.0192 234.3105 43.9472 234.3105 45.9752L234.3105 69.5582 224.1665 69.5582 224.1665 47.7252C224.1665 45.5952 223.6185 43.8202 222.5255 42.4002 221.4315 40.9812 219.6655 40.2702 217.2245 40.2702 214.9865 40.2702 213.2585 41.0182 212.0375 42.5142 210.8165 44.0102 210.2065 45.8492 210.2065 48.0292L210.2065 69.5582zM258.9507 59.2124C261.5457 59.2124 263.6677 58.3504 265.3207 56.6254 266.9717 54.9014 267.8007 52.5934 267.8007 49.7034 267.8007 46.8124 266.9337 44.5174 265.2067 42.8174 263.4757 41.1194 261.3917 40.2704 258.9507 40.2704 257.6797 40.2704 256.4977 40.4854 255.4047 40.9164 254.3097 41.3474 253.3567 41.9814 252.5437 42.8174 251.7297 43.6554 251.0947 44.6574 250.6377 45.8234 250.1787 46.9904 249.9497 48.2834 249.9497 49.7034 249.9497 52.6454 250.7887 54.9654 252.4677 56.6634 254.1447 58.3634 256.3057 59.2124 258.9507 59.2124L258.9507 59.2124zM248.8817 69.1774C249.2367 71.2564 250.1787 72.9554 251.7047 74.2754 253.2297 75.5924 255.2137 76.2524 257.6537 76.2524 260.8577 76.2524 263.3247 75.4274 265.0537 73.7794 266.7817 72.1314 267.6477 69.4824 267.6477 65.8304L267.6477 63.0914C266.8847 64.3084 265.6377 65.4124 263.9097 66.4004 262.1797 67.3904 259.9427 67.8844 257.1967 67.8844 254.7047 67.8844 252.3907 67.4284 250.2557 66.5154 248.1187 65.6024 246.2747 64.3354 244.7247 62.7114 243.1727 61.0884 241.9527 59.1734 241.0627 56.9684 240.1727 54.7614 239.7277 52.3404 239.7277 49.7034 239.7277 47.2184 240.1597 44.8724 241.0247 42.6664 241.8887 40.4604 243.0847 38.5204 244.6097 36.8464 246.1367 35.1724 247.9677 33.8554 250.1027 32.8904 252.2387 31.9274 254.6027 31.4454 257.1967 31.4454 260.1967 31.4454 262.5617 31.9774 264.2907 33.0434 266.0187 34.1084 267.2147 35.2754 267.8767 36.5424L267.8767 32.1294 277.6397 32.1294 277.6397 65.5264C277.6397 68.1124 277.2707 70.5854 276.5337 72.9434 275.7967 75.3014 274.6387 77.3804 273.0627 79.1814 271.4857 80.9814 269.4517 82.4264 266.9607 83.5174 264.4697 84.6084 261.4687 85.1534 257.9597 85.1534 255.3657 85.1534 253.0137 84.7844 250.9037 84.0494 248.7927 83.3144 246.9487 82.3254 245.3737 81.0834 243.7967 79.8394 242.5247 78.3944 241.5587 76.7474 240.5927 75.0984 239.9817 73.3874 239.7277 71.6124L248.8817 69.1774zM306.9331 42.1719C305.9151 41.9699 304.8991 41.8669 303.8821 41.8669 302.5591 41.8669 301.3131 42.0459 300.1451 42.3999 298.9741 42.7549 297.9571 43.3389 297.0931 44.1499 296.2281 44.9619 295.5301 46.0389 294.9951 47.3819 294.4611 48.7269 294.1951 50.4139 294.1951 52.4419L294.1951 69.5579 284.0481 69.5579 284.0481 32.1299 293.8891 32.1299 293.8891 37.6829C294.4481 36.4659 295.1731 35.4649 296.0631 34.6789 296.9531 33.8929 297.8941 33.2969 298.8851 32.8909 299.8771 32.4859 300.8701 32.2069 301.8611 32.0539 302.8521 31.9019 303.7541 31.8259 304.5691 31.8259 304.9751 31.8259 305.3701 31.8389 305.7511 31.8639 306.1321 31.8899 306.5261 31.9279 306.9331 31.9779L306.9331 42.1719zM337.1401 46.584C337.0891 45.671 336.8981 44.771 336.5681 43.883 336.2371 42.996 335.7301 42.209 335.0421 41.525 334.3571 40.84 333.4911 40.283 332.4501 39.852 331.4071 39.421 330.1731 39.205 328.7491 39.205 327.4261 39.205 326.2571 39.433 325.2411 39.89 324.2221 40.346 323.3581 40.93 322.6471 41.639 321.9341 42.35 321.3891 43.136 321.0071 43.998 320.6251 44.86 320.4091 45.722 320.3591 46.584L337.1401 46.584zM346.6001 58.832C346.1411 60.455 345.4171 61.989 344.4251 63.434 343.4341 64.879 342.2251 66.135 340.8021 67.2 339.3771 68.265 337.7121 69.115 335.8051 69.748 333.8991 70.382 331.8001 70.699 329.5121 70.699 326.9191 70.699 324.4521 70.255 322.1131 69.368 319.7741 68.481 317.7141 67.175 315.9341 65.45 314.1541 63.726 312.7431 61.622 311.7011 59.136 310.6581 56.652 310.1371 53.837 310.1371 50.692 310.1371 47.7 310.6441 44.986 311.6621 42.552 312.6791 40.118 314.0391 38.052 315.7441 36.352 317.4471 34.653 319.4161 33.335 321.6561 32.396 323.8921 31.459 326.2061 30.989 328.5971 30.989 334.4451 30.989 338.9951 32.714 342.2511 36.162 345.5051 39.612 347.1331 44.353 347.1331 50.388 347.1331 51.099 347.1071 51.77 347.0571 52.404 347.0051 53.038 346.9811 53.406 346.9811 53.507L320.1291 53.507C320.1801 54.724 320.4731 55.853 321.0071 56.892 321.5401 57.932 322.2271 58.832 323.0661 59.593 323.9061 60.354 324.8841 60.95 326.0031 61.38 327.1211 61.812 328.3171 62.026 329.5891 62.026 331.9791 62.026 333.8471 61.495 335.1961 60.429 336.5421 59.364 337.5221 57.995 338.1321 56.321L346.6001 58.832zM359.8726 57.2339C359.9736 58.7059 360.5836 60.0239 361.7036 61.1899 362.8216 62.3569 364.4986 62.9399 366.7376 62.9399 368.4156 62.9399 369.6616 62.5729 370.4766 61.8369 371.2886 61.1029 371.6956 60.2269 371.6956 59.2129 371.6956 58.3509 371.3916 57.6029 370.7806 56.9679 370.1706 56.3349 369.1276 55.8649 367.6526 55.5599L362.6946 54.4189C359.0336 53.6089 356.3636 52.2019 354.6856 50.1969 353.0076 48.1939 352.1686 45.8749 352.1686 43.2369 352.1686 41.5639 352.5226 39.9789 353.2356 38.4829 353.9476 36.9869 354.9266 35.6929 356.1726 34.6019 357.4186 33.5119 358.8936 32.6369 360.5976 31.9779 362.3006 31.3189 364.1696 30.9889 366.2036 30.9889 368.8476 30.9889 371.0856 31.3579 372.9166 32.0919 374.7476 32.8279 376.2346 33.7539 377.3796 34.8689 378.5226 35.9849 379.3736 37.1639 379.9346 38.4059 380.4936 39.6499 380.8236 40.7769 380.9266 41.7919L372.4586 43.6929C372.3566 43.1359 372.1916 42.5659 371.9636 41.9819 371.7336 41.3989 371.3646 40.8539 370.8566 40.3459 370.3486 39.8399 369.7256 39.4329 368.9876 39.1289 368.2506 38.8239 367.3476 38.6729 366.2796 38.6729 364.9576 38.6729 363.8256 39.0279 362.8856 39.7369 361.9436 40.4479 361.4746 41.3349 361.4746 42.3999 361.4746 43.3129 361.7916 44.0479 362.4286 44.6059 363.0626 45.1649 363.8896 45.5459 364.9076 45.7469L370.2466 46.8879C373.9586 47.6489 376.7426 49.0689 378.5996 51.1479 380.4556 53.2289 381.3836 55.6369 381.3836 58.3749 381.3836 59.8969 381.0906 61.3939 380.5066 62.8639 379.9216 64.3359 379.0186 65.6529 377.7986 66.8199 376.5786 67.9869 375.0526 68.9239 373.2216 69.6339 371.3916 70.3439 369.2546 70.6989 366.8136 70.6989 363.9656 70.6989 361.5756 70.2929 359.6436 69.4829 357.7106 68.6709 356.1356 67.6819 354.9136 66.5149 353.6936 65.3489 352.7906 64.0939 352.2056 62.7499 351.6206 61.4059 351.2776 60.2009 351.1766 59.1359L359.8726 57.2339zM394.2749 57.2339C394.3769 58.7059 394.9859 60.0239 396.1059 61.1899 397.2239 62.3569 398.9019 62.9399 401.1399 62.9399 402.8189 62.9399 404.0639 62.5729 404.8789 61.8369 405.6909 61.1029 406.0979 60.2269 406.0979 59.2129 406.0979 58.3509 405.7939 57.6029 405.1829 56.9679 404.5729 56.3349 403.5299 55.8649 402.0559 55.5599L397.0969 54.4189C393.4359 53.6089 390.7659 52.2019 389.0879 50.1969 387.4099 48.1939 386.5709 45.8749 386.5709 43.2369 386.5709 41.5639 386.9259 39.9789 387.6379 38.4829 388.3499 36.9869 389.3289 35.6929 390.5759 34.6019 391.8209 33.5119 393.2959 32.6369 394.9999 31.9779 396.7029 31.3189 398.5719 30.9889 400.6059 30.9889 403.2499 30.9889 405.4889 31.3579 407.3199 32.0919 409.1499 32.8279 410.6369 33.7539 411.7819 34.8689 412.9259 35.9849 413.7769 37.1639 414.3369 38.4059 414.8959 39.6499 415.2259 40.7769 415.3289 41.7919L406.8619 43.6929C406.7589 43.1359 406.5939 42.5659 406.3659 41.9819 406.1359 41.3989 405.7669 40.8539 405.2589 40.3459 404.7509 39.8399 404.1279 39.4329 403.3909 39.1289 402.6529 38.8239 401.7509 38.6729 400.6829 38.6729 399.3599 38.6729 398.2279 39.0279 397.2889 39.7369 396.3459 40.4479 395.8779 41.3349 395.8779 42.3999 395.8779 43.3129 396.1939 44.0479 396.8309 44.6059 397.4649 45.1649 398.2919 45.5459 399.3099 45.7469L404.6499 46.8879C408.3609 47.6489 411.1449 49.0689 413.0019 51.1479 414.8579 53.2289 415.7869 55.6369 415.7869 58.3749 415.7869 59.8969 415.4929 61.3939 414.9089 62.8639 414.3239 64.3359 413.4219 65.6529 412.2009 66.8199 410.9809 67.9869 409.4559 68.9239 407.6249 69.6339 405.7939 70.3439 403.6579 70.6989 401.2169 70.6989 398.3689 70.6989 395.9789 70.2929 394.0459 69.4829 392.1129 68.6709 390.5379 67.6819 389.3169 66.5149 388.0959 65.3489 387.1929 64.0939 386.6089 62.7499 386.0229 61.4059 385.6799 60.2009 385.5799 59.1359L394.2749 57.2339zM446.2212 69.5582C446.1192 69.1522 446.0422 68.5692 445.9922 67.8082 445.9422 67.0482 445.9162 66.2872 445.9162 65.5262 444.8992 67.3022 443.4102 68.5822 441.4532 69.3682 439.4952 70.1542 437.5262 70.5472 435.5422 70.5472 433.2532 70.5472 431.2332 70.1542 429.4782 69.3682 427.7232 68.5822 426.2362 67.5302 425.0152 66.2102 423.7952 64.8922 422.8672 63.3332 422.2312 61.5332 421.5952 59.7322 421.2782 57.8182 421.2782 55.7892L421.2782 32.1302 431.4232 32.1302 431.4232 53.7352C431.4232 55.8652 431.9682 57.6522 433.0632 59.0982 434.1562 60.5432 435.8982 61.2662 438.2882 61.2662 440.5772 61.2662 442.3312 60.5812 443.5522 59.2122 444.7732 57.8422 445.3832 56.0682 445.3832 53.8872L445.3832 32.1302 455.5282 32.1302 455.5282 62.7872C455.5282 64.2592 455.5662 65.5902 455.6432 66.7812 455.7192 67.9742 455.8072 68.9002 455.9092 69.5582L446.2212 69.5582zM468.4194 57.2339C468.5214 58.7059 469.1304 60.0239 470.2504 61.1899 471.3684 62.3569 473.0464 62.9399 475.2844 62.9399 476.9634 62.9399 478.2084 62.5729 479.0234 61.8369 479.8354 61.1029 480.2424 60.2269 480.2424 59.2129 480.2424 58.3509 479.9384 57.6029 479.3274 56.9679 478.7174 56.3349 477.6744 55.8649 476.1994 55.5599L471.2414 54.4189C467.5804 53.6089 464.9104 52.2019 463.2324 50.1969 461.5544 48.1939 460.7154 45.8749 460.7154 43.2369 460.7154 41.5639 461.0704 39.9789 461.7824 38.4829 462.4944 36.9869 463.4734 35.6929 464.7204 34.6019 465.9654 33.5119 467.4404 32.6369 469.1444 31.9779 470.8474 31.3189 472.7164 30.9889 474.7504 30.9889 477.3944 30.9889 479.6324 31.3579 481.4634 32.0919 483.2944 32.8279 484.7814 33.7539 485.9264 34.8689 487.0694 35.9849 487.9214 37.1639 488.4814 38.4059 489.0404 39.6499 489.3704 40.7769 489.4734 41.7919L481.0054 43.6929C480.9034 43.1359 480.7384 42.5659 480.5104 41.9819 480.2804 41.3989 479.9114 40.8539 479.4034 40.3459 478.8954 39.8399 478.2724 39.4329 477.5344 39.1289 476.7974 38.8239 475.8954 38.6729 474.8274 38.6729 473.5044 38.6729 472.3724 39.0279 471.4324 39.7369 470.4904 40.4479 470.0224 41.3349 470.0224 42.3999 470.0224 43.3129 470.3384 44.0479 470.9754 44.6059 471.6094 45.1649 472.4364 45.5459 473.4544 45.7469L478.7944 46.8879C482.5054 47.6489 485.2894 49.0689 487.1464 51.1479 489.0024 53.2289 489.9314 55.6369 489.9314 58.3749 489.9314 59.8969 489.6374 61.3939 489.0534 62.8639 488.4684 64.3359 487.5654 65.6529 486.3454 66.8199 485.1254 67.9869 483.5994 68.9239 481.7684 69.6339 479.9384 70.3439 477.8014 70.6989 475.3614 70.6989 472.5134 70.6989 470.1224 70.2929 468.1904 69.4829 466.2574 68.6709 464.6824 67.6819 463.4614 66.5149 462.2404 65.3489 461.3374 64.0939 460.7534 62.7499 460.1674 61.4059 459.8244 60.2009 459.7234 59.1359L468.4194 57.2339zM14.7197 85.3299C12.0897 83.0299 10.3697 79.4299 10.3697 75.6699 10.3697 68.7699 15.9697 63.1699 22.8697 63.1699 25.8607 63.1699 28.7137 64.0999 30.7597 65.9699 30.7707 65.9799 30.7807 65.9899 30.7807 65.9899 31.2297 66.5299 31.7097 67.0599 32.1997 67.5599 32.2497 67.6099 32.2997 67.6599 32.3497 67.6999 32.5397 67.8899 32.7297 68.0699 32.9197 68.2399 32.9297 68.2399 32.9297 68.2499 32.9297 68.2499L32.9397 68.2599C32.9497 68.2699 32.9597 68.2899 32.9697 68.2999 32.9797 68.3099 32.9907 68.3099 32.9997 68.3099 33.2597 68.5599 33.5197 68.7999 33.7897 69.0199 34.0797 69.2699 34.3697 69.5099 34.6797 69.7399 34.9097 69.9299 35.1597 70.1099 35.4007 70.2799 35.4197 70.2999 35.4297 70.3099 35.4497 70.3199 35.5597 70.4099 35.6697 70.4799 35.7807 70.5499 35.9697 70.6899 36.1597 70.8199 36.3607 70.9399 36.7497 71.2099 37.1507 71.4499 37.5497 71.6699 37.7097 71.7699 37.8607 71.8599 38.0197 71.9399 38.1397 72.0099 38.2597 72.0799 38.3897 72.1299 38.5497 72.2299 38.7097 72.3099 38.8797 72.3899 40.6797 73.2899 42.6197 73.9799 44.6397 74.4099 44.7997 74.4599 44.9697 74.4899 45.1397 74.5199 45.4907 74.5999 45.8397 74.6599 46.1997 74.7099 46.5497 74.7699 46.9097 74.8099 47.2807 74.8499 47.2897 74.8499 47.2997 74.8599 47.3207 74.8499 47.7497 74.8999 48.1897 74.9399 48.6297 74.9599 49.0897 74.9899 49.5397 74.9999 49.9997 74.9999 56.9297 74.9999 63.1997 72.1799 67.7297 67.6299L67.7407 67.6399C70.0097 65.1999 73.2597 63.6699 76.8697 63.6699 83.7697 63.6699 89.3697 69.2699 89.3697 76.1699 89.3697 79.3199 88.1997 82.2099 86.2697 84.4099 86.2597 84.4199 86.2497 84.4299 86.2407 84.4399 85.9597 84.7299 85.6797 85.0199 85.4007 85.2999 85.3497 85.3599 85.2997 85.3999 85.2497 85.4399 76.2197 94.4399 63.7597 99.9999 49.9997 99.9999 37.1397 99.9999 25.4197 95.1499 16.5597 87.1699L14.7197 85.3299"></path>
                  <path d="M32.43,32.221 C36.93,27.76 43.15,25 50,25 C56.84,25 63.04,27.75 67.55,32.21 C69.819,34.62 73.28,36.17 76.86,36.17 C83.77,36.17 89.36,30.57 89.36,23.67 C89.36,21.01 88.654,18.448 87.11,16.51 C86.59,15.856 85.97,15.28 85.37,14.68 C85.33,14.63 85.28,14.58 85.229,14.53 C84.91,14.21 84.58,13.89 84.24,13.58 C75.29,5.16 63.25,0 50,0 C36.229,0 23.75,5.58 14.7,14.61 C5.62,23.65 0,36.17 0,50 C0,59.592 2.707,68.551 7.391,76.162 C7.386,75.998 7.37,75.835 7.37,75.67 C7.37,67.123 14.323,60.17 22.87,60.17 C24.449,60.17 26.007,60.426 27.497,60.892 C27.456,60.805 27.411,60.72 27.37,60.63 C27.06,59.991 26.79,59.33 26.54,58.65 C26.439,58.38 26.34,58.11 26.26,57.84 C26.11,57.4 25.979,56.96 25.86,56.51 C25.8,56.31 25.75,56.11 25.7,55.9 C25.63,55.6 25.56,55.3 25.5,55 C25.43,54.65 25.36,54.3 25.31,53.94 C25.29,53.85 25.28,53.76 25.27,53.67 C25.21,53.3 25.17,52.931 25.13,52.56 L25.13,52.53 C25.1,52.29 25.08,52.05 25.07,51.8 C25.05,51.58 25.04,51.36 25.03,51.14 C25.01,50.76 25,50.38 25,50 C25,49.6 25.01,49.201 25.03,48.8 C25.04,48.58 25.05,48.36 25.07,48.15 C25.08,47.931 25.1,47.701 25.13,47.48 C25.13,47.39 25.14,47.31 25.16,47.23 C25.189,46.92 25.229,46.61 25.27,46.3 C25.3,46.15 25.32,45.991 25.35,45.84 C25.39,45.6 25.43,45.37 25.479,45.13 C25.52,44.92 25.56,44.71 25.62,44.5 C25.729,43.96 25.87,43.42 26.03,42.89 C26.1,42.65 26.18,42.41 26.26,42.17 C26.36,41.85 26.47,41.53 26.6,41.21 C26.68,40.971 26.78,40.741 26.87,40.51 C27,40.19 27.13,39.88 27.28,39.57 C27.37,39.36 27.47,39.16 27.58,38.951 C27.93,38.221 28.33,37.51 28.76,36.82 C28.939,36.52 29.14,36.221 29.35,35.931 C29.55,35.61 29.77,35.31 30,35.01 C30.439,34.42 30.91,33.85 31.41,33.3 L31.42,33.29 C31.49,33.201 31.57,33.11 31.65,33.03 C31.88,32.77 32.12,32.53 32.37,32.28 L32.43,32.221"></path>
                  <path d="M91.75,41.7503 C89.959,41.7503 88.306,42.3273 86.953,43.2963 L86.939,43.2953 C83.354,46.0563 78.891,48.5543 73.84,48.5543 C68.068,48.5543 62.903,45.9403 59.467,41.8363 L59.452,41.8363 C57.16,39.1853 53.779,37.5003 50,37.5003 C43.097,37.5003 37.5,43.0963 37.5,50.0003 C37.5,56.9033 43.097,62.5003 50,62.5003 C54.028,62.5003 57.601,60.5863 59.887,57.6283 L59.902,57.6273 C63.332,53.8323 68.321,51.4323 73.84,51.4323 C78.941,51.4323 83.373,54.0103 87.057,56.7853 L87.063,56.7853 C88.395,57.7073 90.008,58.2503 91.75,58.2503 C96.306,58.2503 100,54.5563 100,50.0003 C100,45.4433 96.306,41.7503 91.75,41.7503"></path>
                </g>
              </svg>
            </a>
          </div>

        </div>
      </div>
    </div>

  </section>

  <script src="/js/dist/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/template-e39a994d384142893aef7c5e76423e38.js"></script>
  <!-- Proudly served to you by 34b3b0f0-v2-19-151-3. One of our finest servers, if we may add... -->



  <script nonce="<%= nonce %>">
    const textContent = document.getElementById('textContent');
    const toggleButton = document.getElementById('toggleButton');

    toggleButton.addEventListener('click', function(event) {
      event.preventDefault();

      if (textContent.classList.contains('line-clamp-3')) {
        textContent.classList.remove('line-clamp-3', 'max-h-24');
        textContent.classList.add('line-clamp-none', 'max-h-fit');
        toggleButton.textContent = 'toon minder';
      } else {
        textContent.classList.add('line-clamp-3', 'max-h-24');
        textContent.classList.remove('line-clamp-none', 'max-h-fit');
        toggleButton.textContent = 'toon meer';
      }
    });


    document.addEventListener('DOMContentLoaded', (event) => {
      const readOnlyView = document.getElementById('readOnlyView');
      const editForm = document.getElementById('editForm');
      const editLink = document.getElementById('editLink');
      const cancelLink = document.getElementById('cancelLink');
      // const saveButton = document.getElementById('saveButton'); // Uncomment if you need to use the save button

      editLink.addEventListener('click', function(e) {
        e.preventDefault();
        toggleEdit();
      });

      cancelLink.addEventListener('click', function(e) {
        e.preventDefault();
        toggleEdit();
      });

      function toggleEdit() {
        readOnlyView.classList.toggle('hidden');
        editForm.classList.toggle('hidden');

        // Optionally, populate form fields with current read-only data
        document.getElementById('addressee').value = 'Ruben Daniël Talstra';
        document.getElementById('email').value = 'r.d.talstra@st.hanze.nl';
        document.getElementById('address-address').value = 'Het Blauwgras 23';
        document.getElementById('address-zip').value = '9203 HJ';
        document.getElementById('address-city').value = 'Drachten';
        // ...set values for other fields as needed...
      }
    });



    $(document).ready(function() {

      const memberTicketSelect = document.getElementById('memberTicket');
      const guestTicketSelect = document.getElementById('guestTickets');
      const memberTicketCount = document.getElementById('memberTicketCount');
      const guestTicketCount = document.getElementById('guestTicketCount');
      const memberTicketPrice = document.getElementById('memberTicketPrice');
      const guestTicketPrice = document.getElementById('guestTicketPrice');
      const totalPrice = document.getElementById('totalPrice');
      const guestNamesDiv = document.getElementById('guestNames');

      // Function to update the summary and guest names based on selected options
      function updateSummaryAndGuestNames() {
        const selectedMemberTickets = parseInt(memberTicketSelect.value, 10);
        const selectedGuestTickets = parseInt(guestTicketSelect.value, 10);

        // Update counts
        memberTicketCount.textContent = `${selectedMemberTickets}x`;
        guestTicketCount.textContent = `${selectedGuestTickets}x`;

        // console.log(memberTicketPrice.textContent)
        // console.log(guestTicketPrice.textContent)

        // Calculate prices
        const memberTicketCost = selectedMemberTickets * parseFloat(memberTicketPrice.textContent.replace("€", "").trim()); // Adjust the price as needed
        const guestTicketCost = selectedGuestTickets * parseFloat(guestTicketPrice.textContent.replace("€", "").trim()); // Adjust the price as needed
        // memberTicketPrice.textContent = `€ ${memberTicketCost.toFixed(2)}`;
        // guestTicketPrice.textContent = `€ ${guestTicketCost.toFixed(2)}`;

        // Calculate and update total
        const totalCost = memberTicketCost + guestTicketCost;
        totalPrice.textContent = `€ ${totalCost.toFixed(2)}`;

        // Clear previous guest name fields
        guestNamesDiv.innerHTML = '';

        // Generate and append guest name fields
        for (let i = 1; i <= selectedGuestTickets; i++) {
          const div = document.createElement('div');
          div.classList.add('mb-3');
          const label = document.createElement('label');
          label.textContent = `Guest ${i} Name:`;
          label.setAttribute('for', `guestName${i}`);
          const input = document.createElement('input');
          input.type = 'text';
          input.classList.add('form-control');
          input.id = `guestName${i}`;
          input.name = `guestName${i}`;
          input.required = true;

          div.appendChild(label);
          div.appendChild(input);
          guestNamesDiv.appendChild(div);
        }
      }

      // Update summary and guest names initially
      updateSummaryAndGuestNames();

      // Event listeners to update summary and guest names when selects change
      memberTicketSelect.addEventListener('change', updateSummaryAndGuestNames);
      guestTicketSelect.addEventListener('change', updateSummaryAndGuestNames);
    });
  </script>


</body>

</html>