<!DOCTYPE html>

<html lang="en">

<head>
  <title>RealTime - Evenementen</title>

  <%- include('../includes/meta', {}); %>

  <%- include('../includes/headLink', {}); %>

  <style>
    .content-header-background {
      background-image: url('/img/banners/9094706bfd344c3cbbbffcc6d7fe3d0a-lg.png');
    }
  </style>
</head>

<body class="template-content webpage-5437 module-profile authenticated-user">

  <%- include('../includes/header', {settings, user: user}); %>

  <section id="content">

    <div class="content-header content-header-background">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="/evenementen">Evenementen</a></li>
          <li><a href="/evenementen/<%= eventDetails.EventID %>"><%= eventDetails.Name %></a></li>
          <li class="active">Aanmelding annuleren</li>
        </ol>
        <h2><%= eventDetails.Name %></h2>
      </div>
    </div>


    <div class="container">


      <div class="row">
        <div class="aside col-md-3">
          <ul id="submenu">
            <li class="active"><a href="/evenementen" title="">Evenementen</a>
              <ul>
                <li><a href="/evenementen" title="">Binnenkort</a> </li>
                <li><a href="/evenementen/calendar" title="">Kalender</a> </li>
              </ul>
            </li>
          </ul>




          <div class="aside-block">
            <div class="headline">
              <h4>Over dit evenement</h4>
            </div>
            <dl>
              <% if (eventDetails.EventCategoryID) { %>
              <dt>Categorie</dt>
              <dd><%= eventDetails.EventCategoryName  %></dd>
              <% } %>
              <% if (eventDetails.Organizer) { %>
              <dt>Categorie</dt>
              <dd><a href="/mijn-realtime/groepen/commissies/2022-2023/70072-activiteitencommissie" title="2022 - 2023 / Activiteitencommissie"><%= eventDetails.Organizer  %></a></dd>
              <% } %>
              <dt>Datum en tijd</dt>


              <% let start = new Date(eventDetails.StartDateTime); %>
              <% let end = new Date(eventDetails.EndDateTime); %>
              <% if(start.toDateString() === end.toDateString()) { %>
              <dd><%= start.toLocaleString('nl-NL', {day: '2-digit', month: 'short', year: 'numeric', hour: '2-digit', minute: '2-digit'}) %> - <%= end.toLocaleString('nl-NL', {hour: '2-digit', minute: '2-digit'}) %></dd>
              <% } else { %>
              <dd><%= start.toLocaleString('nl-NL', {day: 'numeric'}) %> - <%= end.toLocaleString('nl-NL', {day: 'numeric', month: 'short', year: 'numeric'}) %></dd>
              <% } %>



              <!-- <dd>11 okt. 2023 20:00 - 22:00</dd> -->
              <% if (eventDetails.Location) { %>
              <dt>Locatie</dt>
              <dd><%= eventDetails.Location  %></dd>
              <% } %>
            </dl>
          </div>
        </div>

        <div class="paragraphs col-md-9">



          <form method="POST" action="/evenementen/<%= eventDetails.EventID %>/participation/cancel" class="form-horizontal">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <h4>Aanmelding annuleren voor dit evenement</h4>
            <p>Weet je zeker dat je je aanmelding voor dit evenement wilt annuleren?</p>

            <% attendees.forEach(function(attendee){ %>
            <div>
              <input type="checkbox" name="attendeeIds" value="<%= attendee.AttendeeID %>" <% if(attendee.Refunded) { %> disabled <% } %>>
              <span><%= attendee.GuestName ? attendee.GuestName : 'You (' + attendee.Member+ ')' %></span>
              - Ticket ID: <%= attendee.TicketID %>
              <% if(attendee.Refunded) { %>
              - <span style="color:red;">Refunded</span>
              <% } %>
            </div>
            <% }); %>


            <br>


            <div class="form-group">
              <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-3 col-sm-5 col-lg-7"> <button class="btn btn-active btn-primary" type="submit"><i class="fa fa-fw fa-check"></i> Bevestig annuleren</button> </div>
            </div>
          </form>

        </div>



        <%- include('../includes/partners.ejs'); %>

      </div>





    </div>
  </section>



  <%- include('../includes/footer'); %>

  <!-- generic javascript -->

  <script src="/js/dist/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cycle2.min.js"></script>

  <!-- template javascript -->
  <script src="/js/superfish-e25125463e3a68f85b0683f3bc21433b.js"></script>
  <script src="/js/main-aac80d816f26db8660321cb022f841b1.js"></script>


  <script nonce="<%= nonce %>">
    document.addEventListener("DOMContentLoaded", function() {
      let currentPath = window.location.pathname.split("/")[1]; // get the highest level of the path
      let nav = document.querySelector(".header-nav");
      let links = nav.querySelectorAll("a");

      links.forEach(function(link) {
        if (link.getAttribute("href").split("/")[1] === currentPath) {
          link.parentElement.classList.add("path");
        }
      });
    });
  </script>




</body>

</html>