<!DOCTYPE html>

<html lang="en">

<head>
  <title>RealTime - Nieuws</title>

  <%- include('../includes/meta', {}); %>

  <%- include('../includes/headLink', {}); %>

  <style>
    .content-header-background {
      background-image: url('/img/banners/9094706bfd344c3cbbbffcc6d7fe3d0a-lg.png');
    }
  </style>
</head>

<body class="template-content webpage-5437 module-profile authenticated-user">

  <%- include('../includes/header', {settings, user: user}); %>

  <section id="content">
    <div class="content-header content-header-background">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="/nieuws">Nieuws</a></li>
          <li class="active"><%= article.title %></li>
        </ol>
        <h2>Nieuws</h2>
      </div>
    </div>
    <div class="container">


      <div class="row">
        <div class="paragraphs col-md-12">

          <div class="row">
            <div class=" col-md-12 paragraph-text">
              <p class="heading-image"><img src="<%= article.image_path %>" alt="Nieuwsbrief November en introductie bestuur 21-22" class="img-responsive margin-bottom-20"></p>
              <ul class="list-unstyled list-inline text-muted">
                <li><span class="fa fa-fw fa-calendar fa-fw"></span> <time data-datetime="<%= article.date %>"><%= article.dateString %></time></li>
                <li><span class="fa fa-fw fa-comments fa-fw"></span> <a href="/over-realtime/nieuws/nieuwsbrief-november-en-introductie-bestuur-21-22#comments">0 reacties</a></li>
              </ul>
              <h3><%= article.title %></h3>
              <%- article.content %>
            </div>
            <!-- START Reacties -->
            <!-- <div class=" col-md-12 paragraph-text">
              <div class="comments-container">
                <div class="headline margin-top-20">
                  <h4 id="comments">Reacties</h4>
                </div>
                <ul class="media-list"> </ul>
                <form name="form" method="post" class="form" action="">
                  <input id="csrf_token" name="csrf_token" type="hidden" value="Ijk2MjFkN2Q1NjI5NWNiN2RjZWE1ZDQyZGQ0ODAyODNjODg4YzM5YWMi.ZSqqxQ.wY3xp3_XkERjJkRsmYI7jGiuJYY">
                  <ul class="media-list">
                    <li class="media">
                      <div class="pull-left media-object img-rounded icon">
                        <i class="fa fa-user"></i>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Ruben Daniël Talstra</h4>
                        <div class="form-group">
                          <input type="text" class="form-control" name="comment" placeholder="Schrijf een reactie...">
                        </div>
                      </div>
                    </li>
                  </ul>
                </form>
              </div>
            </div> -->
            <!-- END Reacties -->


          </div>




          <%- include('../includes/partners.ejs'); %>
        </div>




      </div>
  </section>



  <%- include('../includes/footer'); %>

  <!-- generic javascript -->

  <script src="/js/dist/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cycle2.min.js"></script>

  <!-- template javascript -->
  <script src="/js/superfish-e25125463e3a68f85b0683f3bc21433b.js"></script>
  <script src="/js/main-aac80d816f26db8660321cb022f841b1.js"></script>


  <script nonce="<%= nonce %>">
    document.addEventListener("DOMContentLoaded", function() {
      let currentPath = window.location.pathname.split("/")[1]; // get the highest level of the path
      let nav = document.querySelector(".header-nav");
      let links = nav.querySelectorAll("a");

      links.forEach(function(link) {
        if (link.getAttribute("href").split("/")[1] === currentPath) {
          link.parentElement.classList.add("path");
        }
      });
    });
  </script>




</body>

</html>