<!DOCTYPE html>

<html lang="en">

<head>
  <title>RealTime - Lid worden</title>

  <%- include('../includes/meta', {}); %>

  <%- include('../includes/headLink', {}); %>

  <style>
    .content-header-background {
      background-image: url('/img/banners/9094706bfd344c3cbbbffcc6d7fe3d0a-lg.png');
    }
  </style>
</head>

<body class="template-content webpage-5437 module-profile authenticated-user">

  <%- include('../includes/header', {user: user}); %>

  <section id="content">
    <div class="content-header content-header-background">
      <div class="container">
        <ol class="breadcrumb">
          <li class="active">Lid worden</li>
        </ol>
        <h2>Lid worden</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="aside col-md-3">
          <div class="aside-block">
            <ul class="steps">
              <li class="active" data-step-li="1"><span class="badge badge-xl">1</span> Kies het lidmaatschapstype</li>
              <li data-step-li="2"><span class="badge badge-xl">2</span> Persoonlijke gegevens</li>
              <li data-step-li="3"><span class="badge badge-xl">3</span> Download incasso-machtiging</li>
              <li data-step-li="4"><span class="badge badge-xl">4</span> Klaar!</li>
            </ul>
          </div>
        </div>

        <form class="form-horizontal">
          <div class="paragraphs col-md-9">
            <!-- Your paragraph contents here -->

            <!-- Your CSRF token here -->

            <!-- Step 1 -->
            <div class="step" data-step="1">

              <p>Als lid van studievereniging Real<em>Time</em> profiteer je van enorme kortingen bij activiteiten en kom je in contact met andere studenten en bedrijven. Real<em>Time</em> organiseert iedere maand een activiteit zoals bowlen, lasergamen, paintballen en poolen en er is iedere maand een borrel. Daarnaast gaan we ieder jaar op reis naar bijvoorbeeld Boedapest, Praag, Dresden of Krakau. We organiseren daarnaast lezingen, bedrijfsbezoeken en cursussen en workshops die verbreding en verdieping bieden op de studie.</p>

              <p>Het lidmaatschap kost €7,50 euro dit jaar, uitschrijven kan door een e-mail te sturen vóór 1 september naar <a href="mailto:secretaris@sv-realtime.nl?subject=stopzetten%20lidmaatschap">secretaris@sv-realtime.nl</a>. Wij zullen de ingevulde persoonsgegevens opslaan op de beveiligde servers van Congressus tot wederopzegging. Meer weten over wat wij voor IT-studenten kunnen betekenen of wil je donateur worden? Kom dan gerust langs ons kantoor (ZP11/D2.25) op Zernikeplein 11 te Groningen om de mogelijkheden ter verkennen onder het genot van een kop koffie of thee!</p>

              <p>De SEPA-machtiging kun je zowel op kantoor langsbrengen als mailen naar <a href="mailto:secretaris@sv-realtime.nl?subject=inleveren%20SEPA-machtiging">secretaris@sv-realtime.nl</a>. Als je hem zo snel mogelijk verwerkt wil hebben, kun je de ingevulde SEPA-machtiging het beste mailen. Ben je vergeten om je SEPA-machtiging te downloaden of ben je hem kwijt? Stuur een mail naar <a href="mailto:secretaris@sv-realtime.nl">secretaris@sv-realtime.nl</a> en dan krijg je hem toegestuurd.</p>

              <p>Lijkt het je leuk om commissielid te worden? Neem dan <a href="https://www.sv-realtime.nl/over-realtime/commissies/word-commissielid">hier</a> een kijkje of stuur een e-mail naar <a href="mailto:intern@sv-realtime.nl?subject=Interesse%20commissiewerk">intern@sv-realtime.nl</a>!</p>

              <p><strong>Are you an international student? Please visit our office (ZP11/D2.25) at Zernikeplein 11 in Groningen if you need any help registering.</strong></p>

              <fieldset>
                <legend>Lidmaatschapstype</legend>
                <div class="form-group sign-up-member-status">
                  <div class="col-sm-12 col-md-12 col-lg-11 controls">
                    <div>
                      <label class="radio-inline">
                        <input type="radio" name="member_status" id="aspirant_lid" value="621">
                        <h4>Aspirant-lid</h4>
                      </label>
                    </div>
                    <div>
                      <label class="radio-inline">
                        <input type="radio" name="member_status" id="donateur" value="749">
                        <h4>Donateur</h4>
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-3 col-sm-5 col-lg-7">
                  <button class="btn btn-active btn-primary next-step" type="button"><i class="fa fa-fw fa-arrow-right"></i> Volgende</button>
                </div>
              </div>
            </div>

            <!-- Step 2 -->
            <div class="step" data-step="2" style="display: none;">
              <!-- Your personal details form fields here -->



              <p>Als lid van studievereniging Real<em>Time</em> profiteer je van enorme kortingen bij activiteiten en kom je in contact met andere studenten en bedrijven. Real<em>Time</em> organiseert iedere maand een activiteit zoals bowlen, lasergamen, paintballen en poolen en er is iedere maand een borrel. Daarnaast gaan we ieder jaar op reis naar bijvoorbeeld Boedapest, Praag, Dresden of Krakau. We organiseren daarnaast lezingen, bedrijfsbezoeken en cursussen en workshops die verbreding en verdieping bieden op de studie.</p>

              <p>Het lidmaatschap kost €7,50 euro dit jaar, uitschrijven kan door een e-mail te sturen vóór 1 september naar <a href="mailto:secretaris@sv-realtime.nl?subject=stopzetten%20lidmaatschap">secretaris@sv-realtime.nl</a>. Wij zullen de ingevulde persoonsgegevens opslaan op de beveiligde servers van Congressus tot wederopzegging. Meer weten over wat wij voor IT-studenten kunnen betekenen of wil je donateur worden? Kom dan gerust langs ons kantoor (ZP11/D2.25) op Zernikeplein 11 te Groningen om de mogelijkheden ter verkennen onder het genot van een kop koffie of thee!</p>

              <p>De SEPA-machtiging kun je zowel op kantoor langsbrengen als mailen naar <a href="mailto:secretaris@sv-realtime.nl?subject=inleveren%20SEPA-machtiging">secretaris@sv-realtime.nl</a>. Als je hem zo snel mogelijk verwerkt wil hebben, kun je de ingevulde SEPA-machtiging het beste mailen. Ben je vergeten om je SEPA-machtiging te downloaden of ben je hem kwijt? Stuur een mail naar <a href="mailto:secretaris@sv-realtime.nl">secretaris@sv-realtime.nl</a> en dan krijg je hem toegestuurd.</p>

              <p>Lijkt het je leuk om commissielid te worden? Neem dan <a href="https://www.sv-realtime.nl/over-realtime/commissies/word-commissielid">hier</a> een kijkje of stuur een e-mail naar <a href="mailto:intern@sv-realtime.nl?subject=Interesse%20commissiewerk">intern@sv-realtime.nl</a>!</p>

              <p><strong>Are you an international student? Please visit our office (ZP11/D2.25) at Zernikeplein 11 in Groningen if you need any help registering.</strong></p>

              <fieldset>
                <legend>Lidmaatschap</legend>
                <div class="form-group">
                  <label class="col-sm-5 col-md-4 col-lg-3 control-label" for=""><span>Lidmaatschapstype</span></label>
                  <div class="col-sm-7">
                    <p class="form-control-static" id="selected_membership">Aspirant-lid</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="username"><span>Studentnummer*</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5">
                    <input class="form-control" id="username" maxlength="25" minlength="2" name="username" required="" type="text" value="">
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Personalia</legend>
                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label"><span>Geslacht*</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5 controls">
                    <label class="radio-inline">
                      <input type="radio" name="gender" id="gender" value="m">Man
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="gender" id="gender" value="f">Vrouw
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="gender" id="gender" value="o">Overige
                    </label>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="date_of_birth"><span>Geboortedatum*</span></label>
                  <div class="col-sm-5 col-md-4 col-lg-3 col-input-date">
                    <div class="input-group date" id="datetimepicker-date_of_birth">
                      <input class=" form-control" id="date_of_birth" name="date_of_birth" required="" type="text" value="">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>


                  </div>
                </div>


                <div class="form-group form-group-small-margin">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="initials"><span>Voorletters</span></label>
                  <div class="col-sm-5 col-md-4 col-lg-3">
                    <input class="form-control" id="initials" maxlength="255" name="initials" type="text" value="">
                  </div>
                </div>

                <div class="form-group form-group-small-margin">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="first_name"><span>Voorna(a)m(en)*</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5">
                    <input class="form-control" id="first_name" maxlength="255" name="first_name" required="" type="text" value="">
                  </div>
                </div>

                <div class="form-group form-group-small-margin">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="primary_last_name_main"><span>Achternaam*</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5 controls-row">
                    <div class="row">
                      <div class="col-sm-4 small-gutter">
                        <input class="form-control rounded default-input-border name name-prefix name-primary_last_name_prefix " id="primary_last_name_prefix" maxlength="255" name="primary_last_name_prefix" placeholder="Tussenvoegsel" type="text" value="">
                      </div>
                      <div class="col-sm-8">
                        <input class="form-control rounded default-input-border name name-main name-primary_last_name_main " id="primary_last_name_main" maxlength="255" name="primary_last_name_main" placeholder="Achternaam" type="text" value="">
                      </div>
                    </div>

                  </div>
                </div>



              </fieldset>

              <fieldset>
                <legend>Contactgegevens</legend>
                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="email"><span>E-mailadres*</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5">
                    <input class="form-control" id="email" name="email" required="" type="email" value="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="phone_mobile-number"><span>Mobiele telefoon</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5 controls-row">
                    <div class="row">
                      <div class="col-xs-4 small-gutter">
                        <select class="form-control phone phone-country rounded default-input-border" id="phone_mobile-country" name="phone_mobile-country">
                          <% countries.forEach(country => { %>
                          <option value="<%= country.country_id %>">(+<%= country.country_phone %>) <%= country.country_name %></option>
                          <% }); %>
                        </select>
                      </div>
                      <div class="col-xs-8">
                        <input class="form-control phone phone-number rounded default-input-border" data-mask="999999999" id="phone_mobile-number" name="phone_mobile-number" type="text" value="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="phone_home-number"><span>Vaste telefoon</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5 controls-row">
                    <div class="row">
                      <div class="col-xs-4 small-gutter">
                        <select class="form-control phone phone-country rounded default-input-border" id="phone_home-country" name="phone_home-country">
                          <% countries.forEach(country => { %>
                          <option value="<%= country.country_id %>">(+<%= country.country_phone %>) <%= country.country_name %></option>
                          <% }); %>
                        </select>
                      </div>
                      <div class="col-xs-8">
                        <input class="form-control phone phone-number rounded default-input-border" data-mask="999999999" id="phone_home-number" name="phone_home-number" type="text" value="">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="address-address"><span>Adres*</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5 controls-row">
                    <textarea class="form-control address address-address rounded default-input-border" id="address-address" name="address-address" placeholder="Adres" required=""></textarea>
                    <div class="row">
                      <div class="col-sm-4 small-gutter">
                        <input class="form-control address address-zip rounded default-input-border" id="address-zip" name="address-zip" placeholder="Postcode" required="" type="text" value="">
                      </div>
                      <div class="col-sm-8">
                        <input class="form-control address address-city rounded default-input-border" id="address-city" name="address-city" placeholder="Stad" required="" type="text" value="">
                      </div>
                    </div>
                    <select class="form-control address address-country rounded default-input-border" id="address-country" name="address-country" placeholder="Land" required="">
                      <% countries.forEach(country => { %>
                      <option value="<%= country.country_id %>"><%= country.country_name %></option>
                      <% }); %>
                    </select>


                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Bankrekening</legend>

                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="bank_account-iban"><span>IBAN</span></label>
                  <div class="col-sm-7 col-md-6 col-lg-5">
                    <input class="form-control" id="bank_account-iban" name="bank_account-iban" type="text" value="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 col-md-4 col-lg-3 control-label" for="bank_account-bic"><span>BIC</span></label>
                  <div class="col-sm-5 col-md-4 col-lg-3">
                    <input class="form-control" id="bank_account-bic" name="bank_account-bic" type="text" value="">
                    <span class="help-block">Een BIC is alleen vereist voor een IBAN die niet begint met 'NL'</span>
                  </div>
                </div>
              </fieldset>
              <p>&nbsp;</p>

              <hr>

              <fieldset>
                <div class="form-group">
                  <div class="col-xs-1">
                    <div class="checkbox text-center">
                      <label><input id="agree_membership" name="agree_membership" required="" type="checkbox" value="y"></label>
                    </div>
                  </div>
                  <div class="col-xs-11">
                    <label class="control-label" for="agree_membership">Ja, ik schrijf me in bij Studievereniging RealTime*</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-1">
                    <div class="checkbox text-center">
                      <label><input id="agree_privacy_policy" name="agree_privacy_policy" required="" type="checkbox" value="y"></label>
                    </div>
                  </div>
                  <div class="col-xs-11">
                    <label class="control-label" for="agree_privacy_policy">Ja, ik ga akkoord met het <a href="https://congressus-sv-realtime.s3-eu-west-1.amazonaws.com/user/e35c4ef7498a46e9b7a4453985909f2b.pdf" target="_blank">privacybeleid</a>*</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-1">
                    <div class="checkbox text-center">
                      <label><input id="agree_membership_fee" name="agree_membership_fee" required="" type="checkbox" value="y"></label>
                    </div>
                  </div>
                  <div class="col-xs-11">
                    <label class="control-label" for="agree_membership_fee">Ja, ik ga akkoord met het betalen van Contributie S.V. RealTime 2022 - 2023 (€&nbsp;7,50 per verenigingsjaar)*</label>
                  </div>
                </div>

              </fieldset>


              <!--  -->
              <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-3 col-sm-5 col-lg-7">
                  <button class="btn btn-active btn-primary next-step" type="button"><i class="fa fa-fw fa-arrow-right"></i> Volgende</button>
                </div>
              </div>
            </div>

            <!-- Step 3 -->
            <div class="step" data-step="3" style="display: none;">
              <!-- Your incasso-machtiging download form fields here -->

              <h3>SEPA incasso-machtiging</h3>
              <p>Download nu de SEPA-machtiging, deze moet ingevuld worden ingeleverd op het bestuurskantoor in de Van DoorenVeste, Zernikeplein 11 of gemaild worden naar <a href="mailto:secretaris@sv-realtime.nl?subject=inleveren%20SEPA%20machtiging">secretaris@sv-realtime.nl</a>. Je vindt het kantoor in de D2-vleugel met nummer ZP11/D2.25. Deze SEPA-machtiging geeft ons toestemming jaarlijks de contributie af te schrijven. <strong>Zonder het invullen en inleveren van deze machtiging is je inschrijving niet volledig.</strong></p>


              <div class="well well-lg text-center">
                <h4>Download je SEPA incasso-machtiging</h4>
                <br>

                <!-- <a class="btn btn-lg btn-default" href="/lid-worden/direct-debit/download"><i class="fa fa-fw fa-cloud-download"></i> Download</a> -->
                <a id="downloadButton" class="btn btn-lg btn-default"><i class="fa fa-fw fa-cloud-download"></i> Download</a>

              </div>

              <!--  -->
              <div class="form-group">
                <div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-3 col-sm-5 col-lg-7">
                  <button class="btn btn-active btn-primary next-step" type="button"><i class="fa fa-fw fa-arrow-right"></i> Volgende</button>
                </div>
              </div>
            </div>

            <!-- Step 4 -->
            <div class="step" data-step="4" style="display: none;">
              <!-- Your final step fields or confirmation message here -->

              <p>Bedankt voor je inschrijving bij studievereniging Real<em>Time</em>! Vergeet niet de SEPA machtiging in te leveren op het bestuurskantoor (ZP11/D2.25) of te mailen naar <a href="mailto:secretaris@sv-realtime.nl?subject=inleveren%20SEPA-machtiging">secretaris@sv-realtime.nl</a> om je inschrijving te voltooien. De bestuurssecretaris zal dan een e-mail sturen met een uitnodiging om een account aan te maken. Hopelijk zien we je bij één van onze volgende <a href="https://www.sv-realtime.nl/evenementen">activiteiten</a>!</p>

              <p>Lijkt het je leuk om commissielid te worden? Neem dan&nbsp;<a href="https://www.sv-realtime.nl/over-realtime/commissies/word-commissielid">hier</a>&nbsp;een kijkje of stuur een e-mail naar <a href="mailto:intern@sv-realtime.nl?subject=interesse%20commissiewerk">intern@sv-realtime.nl</a>!&nbsp;Vergeet tevens niet onze&nbsp;<a href="https://facebook.com/svrealtime">Facebookpagina</a>&nbsp;te liken&nbsp;en ons te volgen op <a href="https://www.instagram.com/svrealtime/">Instagram</a>!</p>

            </div>

          </div>
        </form>

        <!-- sponsor -->

      </div>
    </div>
  </section>



  <%- include('../includes/footer'); %>

  <!-- generic javascript -->

  <script src="/js/dist/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.cycle2.min.js"></script>

  <!-- template javascript -->
  <script src="/js/superfish-e25125463e3a68f85b0683f3bc21433b.js"></script>
  <script src="/js/main-aac80d816f26db8660321cb022f841b1.js"></script>


  <script nonce="<%= nonce %>">
    $(document).ready(function() {
      $(".next-step").click(function(e) {
        e.preventDefault();

        var currentStep = $(this).closest(".step");
        var currentStepNum = parseInt(currentStep.data("step"));

        // Reflect the selected membership type on step 2
        if (currentStepNum === 1) {
          var selectedMembership = $("input[name='member_status']:checked").siblings('h4').text();
          $("#selected_membership").text(selectedMembership);
          moveToNextStep(currentStepNum);
        } else if (currentStepNum === 2) {


          // Collect data from the form in step 2
          const email = $('#email').val();

          // Check if all required fields are filled in
          if (!email || !$('input[name="gender"]:checked').val() || !$('#date_of_birth').val() || !$('#first_name').val() || !$('#primary_last_name_main').val() || !$('#agree_membership').is(':checked') || !$('#agree_privacy_policy').is(':checked') || !$('#agree_membership_fee').is(':checked')) {
            alert('Please fill in all required fields.');
            return;
          }

          // Collect data from the form in step 2
          const formData = {
            email: $('#email').val(),
            studentNumber: $('#username').val(),
            gender: $('input[name="gender"]:checked').val(),
            dateOfBirth: $('#date_of_birth').val(),
            initials: $('#initials').val(),
            firstName: $('#first_name').val(),
            lastNamePrefix: $('#primary_last_name_prefix').val(),
            lastNameMain: $('#primary_last_name_main').val(),
            phoneMobile: $('#phone_mobile-number').val(),
            phoneHome: $('#phone_home-number').val(),
            address: $('#address-address').val(),
            zip: $('#address-zip').val(),
            city: $('#address-city').val(),
            country: $('#address-country').val(),
            iban: $('#bank_account-iban').val(),
            bic: $('#bank_account-bic').val(),
            agreeMembership: $('#agree_membership').is(':checked'),
            agreePrivacyPolicy: $('#agree_privacy_policy').is(':checked'),
            agreeMembershipFee: $('#agree_membership_fee').is(':checked')
          };

          // Send a POST request to the server with the form data
          $.ajax({
            url: '/lid-worden/personalia', // Update with your server endpoint
            method: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function(data) {
              if (data.emailInUse) {
                // Display an error message if the email is already in use
                alert('The email address is already in use. Please use a different email.');
              } else {
                // Move to step 3 if the data is successfully saved
                moveToNextStep(currentStepNum);
              }
            },
            error: function(error) {
              alert('There was an error processing your request. Please try again.');
            }
          });
        } else {
          // For other steps, just move to the next step
          moveToNextStep(currentStepNum);
        }
      });

      function moveToNextStep(currentStepNum) {
        var nextStepNum = currentStepNum + 1;
        var nextStep = $('[data-step="' + nextStepNum + '"]');

        $('[data-step="' + currentStepNum + '"]').hide();
        nextStep.show();

        $(".steps li").removeClass("active");
        $('[data-step-li="' + nextStepNum + '"]').addClass("active");
      }



      $('#downloadButton').click(function(e) {
        e.preventDefault(); // Prevent the default behavior of the link

        // Get data from the form
        const firstName = $('#first_name').val();
        const lastNamePrefix = $('#primary_last_name_prefix').val();
        const lastNameMain = $('#primary_last_name_main').val();
        const fullName = `${firstName} ${lastNamePrefix} ${lastNameMain}`.trim();
        const iban = $('#bank_account-iban').val();
        const bic = $('#bank_account-bic').val();

        // Send a POST request to the server
        $.ajax({
          url: '/lid-worden/direct-debit/download',
          method: 'POST',
          data: JSON.stringify({
            fullName: fullName,
            iban: iban,
            bic: bic
          }),
          contentType: 'application/json',
          xhrFields: {
            responseType: 'blob'
          },
          success: function(data) {
            // Create a blob and trigger a download
            const blob = new Blob([data], {
              type: 'application/pdf'
            });
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = `${firstName}_SEPA_Direct_Debit_mandate.pdf`;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
          },
          error: function(error) {
            alert('Error generating PDF: ' + error.responseText);
          }
        });
      });




    });


    document.addEventListener("DOMContentLoaded", function() {
      let currentPath = window.location.pathname.split("/")[1]; // get the highest level of the path
      let nav = document.querySelector(".header-nav");
      let links = nav.querySelectorAll("a");

      links.forEach(function(link) {
        if (link.getAttribute("href").split("/")[1] === currentPath) {
          link.parentElement.classList.add("path");
        }
      });
    });
  </script>




</body>

</html>